In [2]:
from datetime import datetime, timedelta
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')
nasa = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\Wildfire_Data_2020-2023.csv')

In [4]:
weather.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
0,2020-01-01 00:00:00+00:00,58.700300,62.268870,45.8303,55.678288,0.0,0.004173,6.215479,239.74365
1,2020-01-01 01:00:00+00:00,54.380302,61.066536,41.2403,50.515940,0.0,0.001316,4.529580,212.90524
2,2020-01-01 02:00:00+00:00,57.080300,50.207703,38.7203,53.103203,0.0,0.000875,0.316360,224.99990
3,2020-01-01 03:00:00+00:00,50.420300,65.645630,39.3503,46.027035,0.0,0.000634,4.343468,168.11136
4,2020-01-01 04:00:00+00:00,53.120300,54.411290,37.1003,49.102360,0.0,0.000436,3.472758,194.93147

In [5]:
weather.dtypes

date                           object
temperature_2m                float64
relative_humidity_2m          float64
dew_point_2m                  float64
apparent_temperature          float64
precipitation                 float64
et0_fao_evapotranspiration    float64
wind_speed_100m               float64
wind_direction_100m           float64
dtype: object

In [6]:
nasa.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,37.45576,-121.93266,298.7,0.38,0.58,1/4/20,1042,1,VIIRS,n,2.0NRT,276.9,0.2,N
1,37.31750,-122.09219,295.9,0.37,0.58,1/4/20,1042,1,VIIRS,n,2.0NRT,280.4,0.5,N
2,37.31704,-122.09343,301.3,0.42,0.45,1/5/20,1024,1,VIIRS,n,2.0NRT,280.6,0.9,N
3,37.31878,-122.09222,296.0,0.41,0.37,1/6/20,1006,1,VIIRS,n,2.0NRT,280.0,0.8,N
4,37.45645,-121.93143,305.3,0.41,0.37,1/6/20,1006,1,VIIRS,n,2.0NRT,276.6,0.9,N

In [7]:
nasa.dtypes

latitude      float64
longitude     float64
brightness    float64
scan          float64
track         float64
acq_date       object
acq_time        int64
satellite       int64
instrument     object
confidence     object
version        object
bright_t31    float64
frp           float64
daynight       object
dtype: object

In [45]:
nasa.confidence.value_counts()

confidence
n    970
l     22
h      7
Name: count, dtype: int64

In [9]:
nasa[nasa.duplicated(subset=['acq_date', 'acq_time'])]

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
1,37.31750,-122.09219,295.90,0.37,0.58,1/4/20,1042,1,VIIRS,n,2.0NRT,280.40,0.50,N
4,37.45645,-121.93143,305.30,0.41,0.37,1/6/20,1006,1,VIIRS,n,2.0NRT,276.60,0.90,N
6,37.45734,-121.93303,302.80,0.41,0.37,1/7/20,948,1,VIIRS,n,2.0NRT,275.90,0.60,N
7,37.31814,-122.09075,302.40,0.42,0.37,1/7/20,948,1,VIIRS,n,2.0NRT,280.10,1.00,N
8,37.18447,-121.68083,298.70,0.41,0.37,1/7/20,948,1,VIIRS,n,2.0NRT,276.20,0.80,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10045,37.03717,-121.52206,328.02,0.44,0.38,12/2/23,2053,1,VIIRS,n,2.0NRT,280.33,5.49,D
10048,37.18330,-121.68040,295.06,0.39,0.36,12/6/23,956,1,VIIRS,n,2.0NRT,280.88,0.63,N
10049,37.21344,-121.90060,295.62,0.39,0.36,12/6/23,956,1,VIIRS,n,2.0NRT,280.92,0.24,N
10053,37.18374,-121.67919,298.30,0.39,0.36,12/11/23,1002,1,VIIRS,n,2.0NRT,277.27,0.47,N
10055,37.13363,-122.18042,328.04,0.39,0.36,12/12/23,2103,1,VIIRS,n,2.0NRT,288.11,2.23,D

In [10]:
nasa.drop_duplicates(subset=['acq_date', 'acq_time'], inplace=True)

In [11]:
nasa.shape

(999, 14)

In [46]:
import pandas as pd
import numpy as np
from IPython.display import display

# Load the original dataset
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')

# Make a copy of the original DataFrame
mastercopy = weather.copy()  # Changed the copy name to 'mastercopy'

# Define the number of NaN values to insert
num_nan_values = 50

# Insert random NaN values into the copy
for _ in range(num_nan_values):
    row_idx = np.random.choice(mastercopy.index)  # Randomly select a row index
    col_idx = np.random.choice(mastercopy.columns)  # Randomly select a column
    mastercopy.loc[row_idx, col_idx] = np.nan  # Set the selected cell to NaN

# Verify the NaN insertion by checking NaN counts
nan_counts = mastercopy.isna().sum()
print("NaN values per column:")
print(nan_counts)

# Display more rows if necessary to spot NaNs
print("\nDisplaying more rows to observe NaN values:")
display(mastercopy.head(20))  # Increase the row count displayed to 20

# Optionally, filter and display only rows with at least one NaN
print("\nRows with at least one NaN value:")
display(mastercopy[mastercopy.isna().any(axis=1)])

# Save the mastercopy DataFrame to an Excel file
output_path = r'C:\Users\HP\OneDrive\Documents\data science project\mastercopy_with_nans.xlsx'
mastercopy.to_excel(output_path, index=False)

print(f"\nPhysical copy of the data with NaNs has been saved to: {output_path}")

NaN values per column:
date                          8
temperature_2m                7
relative_humidity_2m          6
dew_point_2m                  5
apparent_temperature          6
precipitation                 7
et0_fao_evapotranspiration    6
wind_speed_100m               2
wind_direction_100m           3
dtype: int64

Displaying more rows to observe NaN values:

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
0,2020-01-01 00:00:00+00:00,58.700300,62.268870,45.8303,55.678288,0.0,0.004173,6.215479,239.743650
1,2020-01-01 01:00:00+00:00,54.380302,61.066536,41.2403,50.515940,0.0,0.001316,4.529580,212.905240
2,2020-01-01 02:00:00+00:00,57.080300,50.207703,38.7203,53.103203,0.0,0.000875,0.316360,224.999900
3,2020-01-01 03:00:00+00:00,50.420300,65.645630,39.3503,46.027035,0.0,0.000634,4.343468,168.111360
4,2020-01-01 04:00:00+00:00,53.120300,54.411290,37.1003,49.102360,0.0,0.000436,3.472758,194.931470
5,2020-01-01 05:00:00+00:00,51.680300,57.574200,37.1903,47.492620,0.0,0.000494,2.730607,55.007900
6,2020-01-01 06:00:00+00:00,52.850300,53.604927,36.4703,48.882390,0.0,0.000297,1.140651,101.309900
7,2020-01-01 07:00:00+00:00,52.400300,53.538017,36.0203,48.481415,0.0,0.000169,1.304384,239.036300
8,2020-01-01 08:00:00+00:00,44.390300,71.234580,35.6603,38.658460,0.0,0.000617,6.487300,180.000000
9,2020-01-01 09:00:00+00:00,46.910300,62.475174,34.7603,41.930405,0.0,0.000538,5.524983,158.629320
10,2020-01-01 10:00:00+00:00,49.790300,55.689068,34.5803,46.100227,0.0,0.000000,2.122205,341.564940
11,2020-01-01 11:00:00+00:00,44.120300,68.702805,34.4903,38.678020,0.0,0.000508,3.257121,164.054530
12,2020-01-01 12:00:00+00:00,43.940300,71.696070,35.3903,39.021810,0.0,0.000244,6.491156,178.025120
13,2020-01-01 13:00:00+00:00,43.490300,75.049570,36.1103,38.606384,0.0,0.000176,6.231560,158.962420
14,2020-01-01 14:00:00+00:00,44.930298,74.394580,37.2803,40.639053,0.0,0.000046,7.024322,142.765090
15,2020-01-01 15:00:00+00:00,44.390300,80.067510,38.6303,40.134470,0.0,0.000000,5.188683,7.431319
16,2020-01-01 16:00:00+00:00,45.380300,77.110120,38.6303,40.553760,0.0,0.000880,4.106586,150.642350
17,2020-01-01 17:00:00+00:00,48.980300,73.755875,40.9703,44.796505,0.0,0.002133,5.534032,165.963730
18,2020-01-01 18:00:00+00:00,52.940300,67.805260,42.5903,50.460690,0.0,0.004531,2.000834,206.564990
19,2020-01-01 19:00:00+00:00,55.190300,73.612710,46.9103,53.149000,0.0,0.005853,3.802900,360.000000

Rows with at least one NaN value:

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
1165,2020-02-18 13:00:00+00:00,40.880300,NaN,29.090300,34.643734,0.000000,0.000650,5.605906,208.61037
2269,2020-04-04 13:00:00+00:00,43.580300,88.268340,40.340300,39.475796,0.000000,NaN,1.265438,224.99990
2689,2020-04-22 01:00:00+00:00,66.170300,45.161800,44.300300,59.525013,NaN,0.011427,15.635015,326.08252
2809,2020-04-27 01:00:00+00:00,70.850296,33.375430,40.610300,63.376070,0.000000,0.013792,15.514526,NaN
2858,2020-04-29 02:00:00+00:00,71.390300,49.471620,51.500298,67.978836,NaN,0.007651,12.285184,349.50858
3283,2020-05-16 19:00:00+00:00,69.680300,53.136887,51.860302,70.581160,NaN,0.020646,8.108932,335.55606
3631,2020-05-31 07:00:00+00:00,60.590298,78.159710,53.750298,60.812042,0.000000,NaN,2.693705,131.63345
6148,2020-09-13 04:00:00+00:00,67.520300,67.881070,56.540300,NaN,0.000000,0.000232,3.009576,318.01288
6591,2020-10-01 15:00:00+00:00,75.800300,30.289293,42.410300,72.865310,0.000000,0.002057,NaN,216.86998
7227,NaN,65.810295,31.202423,34.490300,60.244576,0.000000,0.002988,10.798016,309.95750
7506,2020-11-08 18:00:00+00:00,55.010300,42.924473,32.870300,44.095413,0.000000,NaN,22.962780,312.23608
7789,2020-11-20 13:00:00+00:00,46.460300,74.544740,38.810300,42.893220,0.000000,NaN,3.472758,255.06853
8232,2020-12-09 00:00:00+00:00,65.810295,47.160510,45.110300,63.078680,NaN,0.004373,4.697699,270.00000
8605,2020-12-24 13:00:00+00:00,38.540300,87.077610,35.030300,33.188965,0.000000,0.000000,5.387410,NaN
9018,2021-01-10 18:00:00+00:00,52.940300,59.817425,39.350300,NaN,0.000000,0.004819,4.803042,207.75845
9106,2021-01-14 10:00:00+00:00,51.500298,98.023600,50.960300,NaN,0.000000,0.000000,7.358335,250.46326
10398,2021-03-09 06:00:00+00:00,NaN,80.195946,40.250298,41.329052,0.000000,0.000213,8.735765,140.19447
10586,2021-03-17 02:00:00+00:00,51.680300,62.655773,39.350300,45.091763,NaN,0.003030,14.436886,347.47120
10652,2021-03-19 20:00:00+00:00,59.330300,74.511710,51.230300,56.728855,NaN,0.011000,8.562188,340.14468
11208,2021-04-12 00:00:00+00:00,70.760300,39.110718,44.660300,63.890640,0.000000,0.015787,16.126583,NaN
11349,2021-04-17 21:00:00+00:00,NaN,32.997340,42.050300,69.747910,0.000000,0.024938,13.923416,316.30188
11580,NaN,45.110300,86.823250,41.420300,41.870678,0.000000,0.000000,2.122205,108.43504
14086,2021-08-09 22:00:00+00:00,87.590294,28.413227,50.870300,NaN,0.000000,0.029981,14.227389,343.55954
17555,2022-01-01 11:00:00+00:00,43.220300,NaN,37.010300,39.503777,0.000000,0.000000,3.802900,270.00000
17779,2022-01-10 19:00:00+00:00,NaN,73.426094,47.450300,54.395496,0.000000,0.008021,2.618341,160.01680
18630,2022-02-15 06:00:00+00:00,51.950300,NaN,45.650300,47.821520,0.000000,0.000543,13.806114,296.98016
18714,2022-02-18 18:00:00+00:00,55.280300,43.749283,NaN,51.425730,0.000000,0.008376,0.806562,236.30990
20075,2022-04-16 11:00:00+00:00,NaN,76.598070,47.270298,48.321815,0.003937,0.001461,20.104395,137.25460
20971,2022-05-23 19:00:00+00:00,77.870300,NaN,40.880300,75.332790,0.000000,0.026162,10.924716,312.51040
21334,2022-06-07 22:00:00+00:00,77.150300,36.037758,NaN,73.298180,0.000000,0.025890,19.007920,333.43503
21490,NaN,56.630302,72.766310,47.990300,54.298946,0.000000,0.000413,6.299449,286.50443
21856,2022-06-29 16:00:00+00:00,61.580300,70.407420,NaN,59.130264,0.000000,0.009278,8.468161,347.79953
22487,2022-07-25 23:00:00+00:00,76.430300,NaN,52.040300,73.678820,0.000000,0.022702,16.233284,348.07070
22514,2022-07-27 02:00:00+00:00,NaN,56.630795,53.930300,65.941666,0.000000,0.009103,16.366830,349.76526
22846,2022-08-09 22:00:00+00:00,NaN,45.165600,55.910300,77.735100,0.000000,0.025083,17.685038,341.56494
24054,2022-09-29 06:00:00+00:00,62.570300,85.496370,58.160300,64.125175,NaN,0.000000,3.139779,355.91446
24281,2022-10-08 17:00:00+00:00,58.160300,98.079430,NaN,59.279896,0.000000,0.005959,3.906753,283.24054
24695,NaN,69.770300,42.578230,46.010300,64.117890,0.000000,0.012849,13.287101,315.00010
26187,2022-12-27 03:00:00+00:00,54.920300,85.330700,50.600300,51.662098,0.031496,0.000343,NaN,129.69904
27717,2023-02-28 21:00:00+00:00,50.780300,77.055440,NaN,47.048122,0.011811,0.003799,6.502709,183.94511
28557,NaN,54.020298,47.820507,34.670300,51.171585,0.000000,0.016494,8.252681,327.17145
29166,2023-04-30 06:00:00+00:00,51.500298,84.551704,47.000298,48.261204,0.000000,NaN,9.875792,346.90808
29736,2023-05-24 00:00:00+00:00,70.220300,43.822086,47.180300,NaN,0.000000,0.016918,12.836950,157.45690
30609,2023-06-29 09:00:00+00:00,55.730300,NaN,49.970300,55.069614,0.000000,0.000000,2.248157,354.28950
32313,NaN,60.140297,76.590164,52.760300,60.603430,0.000000,0.000000,0.922339,75.96373
32384,2023-09-11 08:00:00+00:00,63.200300,59.362800,48.800300,62.758614,0.000000,NaN,2.013300,90.00000
32871,2023-10-01 15:00:00+00:00,55.010300,87.639670,51.410300,NaN,0.000000,0.000595,5.816200,157.38010
33722,NaN,70.130300,68.392390,59.240300,71.873710,0.003937,0.000481,3.042649,233.97253
34359,NaN,48.710300,87.315956,45.110300,45.635704,0.000000,0.000000,6.891267,144.24602
34452,2023-12-06 12:00:00+00:00,NaN,77.296940,43.670300,48.130604,0.000000,0.000000,0.447400,90.00000

Physical copy of the data with NaNs has been saved to: C:\Users\HP\OneDrive\Documents\data science project\mastercopy_with_nans.xlsx

In [13]:
#encoding
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load the dataset
#mastercopy = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\mastercopy_with_nans.xlsx')

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Loop through all columns to apply label encoding to categorical columns
for column in weather.columns:
    if mastercopy[column].dtype == 'object':  # Check if the column is categorical (strings)
        # Apply Label Encoding
        mastercopy[column] = label_encoder.fit_transform(mastercopy[column].astype(str))

# Display the transformed DataFrame with label encoding applied
print("Data after Label Encoding:")
print(mastercopy.head(15))  # Display the first 15 rows to check the encoding

Data after Label Encoding:
    date  temperature_2m  relative_humidity_2m  dew_point_2m  \
0      0       58.700300             62.268870       45.8303
1      1       54.380302             61.066536       41.2403
2      2       57.080300             50.207703       38.7203
3      3       50.420300             65.645630       39.3503
4      4       53.120300             54.411290       37.1003
5      5       51.680300             57.574200       37.1903
6      6       52.850300             53.604927       36.4703
7      7       52.400300             53.538017       36.0203
8      8       44.390300             71.234580       35.6603
9      9       46.910300             62.475174       34.7603
10    10       49.790300             55.689068       34.5803
11    11       44.120300             68.702805       34.4903
12    12       43.940300             71.696070       35.3903
13    13       43.490300             75.049570       36.1103
14    14       44.930298             74.394580       37.2803

    apparent_temperature  precipitation  et0_fao_evapotranspiration  \
0              55.678288            0.0                    0.004173
1              50.515940            0.0                    0.001316
2              53.103203            0.0                    0.000875
3              46.027035            0.0                    0.000634
4              49.102360            0.0                    0.000436
5              47.492620            0.0                    0.000494
6              48.882390            0.0                    0.000297
7              48.481415            0.0                    0.000169
8              38.658460            0.0                    0.000617
9              41.930405            0.0                    0.000538
10             46.100227            0.0                    0.000000
11             38.678020            0.0                    0.000508
12             39.021810            0.0                    0.000244
13             38.606384            0.0                    0.000176
14             40.639053            0.0                    0.000046

    wind_speed_100m  wind_direction_100m
0          6.215479            239.74365
1          4.529580            212.90524
2          0.316360            224.99990
3          4.343468            168.11136
4          3.472758            194.93147
5          2.730607             55.00790
6          1.140651            101.30990
7          1.304384            239.03630
8          6.487300            180.00000
9          5.524983            158.62932
10         2.122205            341.56494
11         3.257121            164.05453
12         6.491156            178.02512
13         6.231560            158.96242
14         7.024322            142.76509

In [47]:

#Standardized Values 
import pandas as pd
import numpy as np

# Load the dataset
#weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')

# Create a copy for standardization
standardized_copy = mastercopy.copy()

# Replace NaN values with standardized values (Z-score)
for column in standardized_copy.columns:
    if standardized_copy[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        if standardized_copy[column].isna().sum() > 0:  # Check if the column contains NaN values
            mean_val = standardized_copy[column].mean()  # Mean of the column
            std_val = standardized_copy[column].std()  # Standard deviation of the column
            # Standardize by replacing NaNs with (value - mean) / std
            standardized_copy[column] = standardized_copy[column].fillna((mean_val - mean_val) / std_val)

# Save the 'standardized' copy DataFrame to an Excel file
output_path_standardized = r'C:\Users\HP\OneDrive\Documents\data science project\standardized_copy_with_nans_replaced.xlsx'
standardized_copy.to_excel(output_path_standardized, index=False)

print(f"\nThe 'standardized' copy dataset has been saved to: {output_path_standardized}")

The 'standardized' copy dataset has been saved to: C:\Users\HP\OneDrive\Documents\data science project\standardized_copy_with_nans_replaced.xlsx

In [48]:
# Sanity check if weather set contains duplicate date-time
standardized_copy[standardized_copy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
11580,NaN,45.110300,86.823250,41.4203,41.870678,0.000000,0.000000,2.122205,108.43504
21490,NaN,56.630302,72.766310,47.9903,54.298946,0.000000,0.000413,6.299449,286.50443
24695,NaN,69.770300,42.578230,46.0103,64.117890,0.000000,0.012849,13.287101,315.00010
28557,NaN,54.020298,47.820507,34.6703,51.171585,0.000000,0.016494,8.252681,327.17145
32313,NaN,60.140297,76.590164,52.7603,60.603430,0.000000,0.000000,0.922339,75.96373
33722,NaN,70.130300,68.392390,59.2403,71.873710,0.003937,0.000481,3.042649,233.97253
34359,NaN,48.710300,87.315956,45.1103,45.635704,0.000000,0.000000,6.891267,144.24602

In [51]:
import pandas as pd

# Step 1: Convert 'date' columns to consistent datetime format
standardized_copy['date'] = pd.to_datetime(standardized_copy['date'], errors='coerce')
nasa['acq_date'] = pd.to_datetime(nasa['acq_date'], format='%m/%d/%y', errors='coerce')

# Step 2: Clean and standardize the 'acq_time' column
try:
    # Ensure 'acq_time' is a string and pad with zeros for formats like 'HHMM'
    nasa['acq_time'] = nasa['acq_time'].astype(str).str.zfill(4)

    # Check for time strings in the format 'HH:MM:SS' and handle them
    nasa['acq_time'] = nasa['acq_time'].apply(lambda x: x if ':' in x else pd.to_datetime(x, format='%H%M').strftime('%H:%M:%S'))

    # Convert 'acq_time' to datetime.time
    nasa['acq_time'] = pd.to_datetime(nasa['acq_time'], format='%H:%M:%S', errors='coerce').dt.time
except Exception as e:
    print(f"Error processing 'acq_time': {e}")

# Step 3: Create new 'time' and 'date' components for 'standardized_copy'
try:
    standardized_copy['time'] = standardized_copy['date'].dt.time  # Extract time component
    standardized_copy['date'] = standardized_copy['date'].dt.date  # Extract date component
except Exception as e:
    print(f"Error splitting 'date': {e}")

# Step 4: Create a combined 'date_time' column for both datasets
try:
    nasa['date_time'] = pd.to_datetime(nasa['acq_date'].astype(str) + ' ' + nasa['acq_time'].astype(str), errors='coerce')
    standardized_copy['date_time'] = pd.to_datetime(standardized_copy['date'].astype(str) + ' ' + standardized_copy['time'].astype(str), errors='coerce')
except Exception as e:
    print(f"Error creating 'date_time': {e}")

# Step 5: Drop rows with invalid 'date_time' values
nasa = nasa.dropna(subset=['date_time'])
standardized_copy = standardized_copy.dropna(subset=['date_time'])

# Step 6: Merge datasets on 'date_time'
try:
    positive = pd.merge(nasa, standardized_copy, on='date_time', how='inner')
    print(f"Number of rows in merged dataset: {positive.shape[0]}")
except Exception as e:
    print(f"Error during merge: {e}")

# Sample output for verification
print("Sample from NASA dataset:")
print(nasa.head())

print("Sample from standardized_copy dataset:")
print(standardized_copy.head())

print("Sample from merged dataset:")
print(positive.head())

Number of rows in merged dataset: 43
Sample from NASA dataset:
   latitude  longitude  brightness  scan  track   acq_date  acq_time  \
0  37.45576 -121.93266       298.7  0.38   0.58 2020-01-04  10:42:00
2  37.31704 -122.09343       301.3  0.42   0.45 2020-01-05  10:24:00
3  37.31878 -122.09222       296.0  0.41   0.37 2020-01-06  10:06:00
5  37.18483 -121.67795       296.7  0.41   0.37 2020-01-07  09:48:00
9  37.31736 -122.08982       302.0  0.39   0.36 2020-01-12  09:54:00

   satellite instrument confidence version  bright_t31  frp daynight  \
0          1      VIIRS          n  2.0NRT       276.9  0.2        N
2          1      VIIRS          n  2.0NRT       280.6  0.9        N
3          1      VIIRS          n  2.0NRT       280.0  0.8        N
5          1      VIIRS          n  2.0NRT       276.9  0.8        N
9          1      VIIRS          n  2.0NRT       274.3  0.5        N

  round_time           date_time
0   11:00:00 2020-01-04 10:42:00
2   10:00:00 2020-01-05 10:24:00
3   10:00:00 2020-01-06 10:06:00
5   10:00:00 2020-01-07 09:48:00
9   10:00:00 2020-01-12 09:54:00
Sample from standardized_copy dataset:
         date  temperature_2m  relative_humidity_2m  dew_point_2m  \
0  2020-01-01       58.700300             62.268870       45.8303
1  2020-01-01       54.380302             61.066536       41.2403
2  2020-01-01       57.080300             50.207703       38.7203
3  2020-01-01       50.420300             65.645630       39.3503
4  2020-01-01       53.120300             54.411290       37.1003

   apparent_temperature  precipitation  et0_fao_evapotranspiration  \
0             55.678288            0.0                    0.004173
1             50.515940            0.0                    0.001316
2             53.103203            0.0                    0.000875
3             46.027035            0.0                    0.000634
4             49.102360            0.0                    0.000436

   wind_speed_100m  wind_direction_100m      time           date_time
0         6.215479            239.74365  00:00:00 2020-01-01 00:00:00
1         4.529580            212.90524  01:00:00 2020-01-01 01:00:00
2         0.316360            224.99990  02:00:00 2020-01-01 02:00:00
3         4.343468            168.11136  03:00:00 2020-01-01 03:00:00
4         3.472758            194.93147  04:00:00 2020-01-01 04:00:00
Sample from merged dataset:
   latitude  longitude  brightness  scan  track   acq_date  acq_time  \
0  37.45582 -121.93322       295.8  0.39   0.36 2020-01-17  10:00:00
1  37.07000 -121.85339       341.1  0.38   0.36 2020-02-19  21:00:00
2  37.31672 -122.09161       302.7  0.39   0.36 2020-03-05  10:00:00
3  37.31781 -122.08877       300.0  0.39   0.36 2020-03-21  10:00:00
4  37.45554 -121.93388       299.2  0.39   0.36 2020-04-06  10:00:00

   satellite instrument confidence  ...        date  temperature_2m  \
0          1      VIIRS          n  ...  2020-01-17       36.560300
1          1      VIIRS          n  ...  2020-02-19       58.790300
2          1      VIIRS          n  ...  2020-03-05       51.860302
3          1      VIIRS          n  ...  2020-03-21       47.540300
4          1      VIIRS          n  ...  2020-04-06       43.400300

   relative_humidity_2m dew_point_2m apparent_temperature precipitation  \
0             93.450264      34.8503            31.059624           0.0
1             55.810608      43.0403            57.485813           0.0
2             88.964710      48.7103            49.034523           0.0
3             86.656730      43.7603            44.597687           0.0
4             92.350280      41.3303            39.672630           0.0

  et0_fao_evapotranspiration  wind_speed_100m  wind_direction_100m      time
0                   0.000000         8.948000            126.86999  10:00:00
1                   0.014458         3.957657            312.70938  21:00:00
2                   0.000000        11.364753            143.80670  10:00:00
3                   0.000000         2.908100            202.61990  10:00:00
4                   0.000000         4.320365            158.74942  10:00:00

[5 rows x 26 columns]

In [52]:
# Moving the time column to the front for ease of visualization
col = standardized_copy.columns.to_list()
col.remove('time')
col.insert(1, 'time')
std_copy = standardized_copy[col]
std_copy.head()

,date,time,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,date_time
0,2020-01-01,00:00:00,58.700300,62.268870,45.8303,55.678288,0.0,0.004173,6.215479,239.74365,2020-01-01 00:00:00
1,2020-01-01,01:00:00,54.380302,61.066536,41.2403,50.515940,0.0,0.001316,4.529580,212.90524,2020-01-01 01:00:00
2,2020-01-01,02:00:00,57.080300,50.207703,38.7203,53.103203,0.0,0.000875,0.316360,224.99990,2020-01-01 02:00:00
3,2020-01-01,03:00:00,50.420300,65.645630,39.3503,46.027035,0.0,0.000634,4.343468,168.11136,2020-01-01 03:00:00
4,2020-01-01,04:00:00,53.120300,54.411290,37.1003,49.102360,0.0,0.000436,3.472758,194.93147,2020-01-01 04:00:00

In [53]:
nasa.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,round_time,date_time
0,37.45576,-121.93266,298.7,0.38,0.58,2020-01-04,10:42:00,1,VIIRS,n,2.0NRT,276.9,0.2,N,11:00:00,2020-01-04 10:42:00
2,37.31704,-122.09343,301.3,0.42,0.45,2020-01-05,10:24:00,1,VIIRS,n,2.0NRT,280.6,0.9,N,10:00:00,2020-01-05 10:24:00
3,37.31878,-122.09222,296.0,0.41,0.37,2020-01-06,10:06:00,1,VIIRS,n,2.0NRT,280.0,0.8,N,10:00:00,2020-01-06 10:06:00
5,37.18483,-121.67795,296.7,0.41,0.37,2020-01-07,09:48:00,1,VIIRS,n,2.0NRT,276.9,0.8,N,10:00:00,2020-01-07 09:48:00
9,37.31736,-122.08982,302.0,0.39,0.36,2020-01-12,09:54:00,1,VIIRS,n,2.0NRT,274.3,0.5,N,10:00:00,2020-01-12 09:54:00

In [54]:
#time roundoff to hour
nasa['acq_time'] = pd.to_datetime(nasa['acq_time'], format='%H:%M:%S')

# Round to the nearest hour
nasa['round_time'] = nasa['acq_time'].dt.round('H')

# Convert back to time format (HH:MM:SS) 
nasa['round_time'] = nasa['round_time'].dt.time
nasa['acq_time'] = nasa['acq_time'].dt.time

C:\Users\HP\AppData\Local\Temp\ipykernel_18868\4190486836.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  nasa['round_time'] = nasa['acq_time'].dt.round('H')

In [55]:
#merge
standardized_copy.shape, nasa.shape

((35080, 11), (999, 16))

In [56]:
# Ensure that 'date_time' column is properly formatted
nasa['date_time'] = pd.to_datetime(nasa['acq_date'].astype(str) + ' ' + nasa['round_time'].astype(str), errors='coerce')
standardized_copy['date_time'] = pd.to_datetime(standardized_copy['date'].astype(str) + ' ' + standardized_copy['time'].astype(str), errors='coerce')

# Drop rows with NaT if any
nasa = nasa.dropna(subset=['date_time'])
standardized_copy = standardized_copy.dropna(subset=['date_time'])

# Now you can safely merge
positive = pd.merge(nasa, standardized_copy, on='date_time', how='inner')

In [57]:
positive.tail()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,...,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,time
992,36.97666,-121.54601,330.14,0.38,0.36,2023-12-12,21:03:00,1,VIIRS,n,...,2023-12-12,59.240300,68.296540,48.8003,55.944866,0.0,0.009498,8.276900,288.92474,21:00:00
993,37.09114,-122.15366,327.73,0.53,0.42,2023-12-13,20:46:00,1,VIIRS,n,...,2023-12-13,52.310303,86.623260,48.4403,51.354820,0.0,0.008042,1.613124,303.69010,21:00:00
994,37.45424,-121.93408,299.06,0.54,0.42,2023-12-23,09:38:00,1,VIIRS,n,...,2023-12-23,45.650300,100.000000,45.6503,43.369450,0.0,0.000000,1.500625,116.56499,10:00:00
995,37.45675,-121.93478,305.59,0.32,0.55,2023-12-24,09:17:00,1,VIIRS,n,...,2023-12-24,42.680298,82.809685,37.8203,37.939423,0.0,0.000000,5.188683,172.56868,09:00:00
996,37.45598,-121.93182,305.10,0.46,0.39,2023-12-28,09:43:00,1,VIIRS,n,...,2023-12-28,55.730300,84.812440,51.2303,52.837452,0.0,0.000342,15.350775,136.77144,10:00:00

In [58]:
positive.shape

(997, 26)

In [59]:
# Drop NASA features
nasa_cols = nasa.columns.to_list()
positive_only_weather = positive.drop(columns=nasa_cols)

In [60]:
positive_only_weather.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,time
0,2020-01-04,41.9603,92.626236,39.9803,37.764164,0.0,0.000000,6.219504,142.30570,11:00:00
1,2020-01-05,43.9403,88.903460,40.8803,40.114570,0.0,0.000000,9.712290,298.92633,10:00:00
2,2020-01-06,46.0103,85.677090,41.9603,42.985954,0.0,0.000000,6.579214,287.81897,10:00:00
3,2020-01-07,42.3203,64.397210,31.1603,36.644592,0.0,0.000484,6.803570,207.40749,10:00:00
4,2020-01-12,41.9603,89.123010,38.9903,37.676210,0.0,0.000000,0.447400,180.00000,10:00:00

In [61]:
positive_only_weather.shape

(997, 10)

In [62]:
positive_only_weather.to_csv('standardized_copy_positive_samples.csv', index=False)

In [63]:
# Samples from different dates
nasa[~nasa['acq_date'].duplicated(keep=False)]

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,round_time,date_time
0,37.45576,-121.93266,298.70,0.38,0.58,2020-01-04,10:42:00,1,VIIRS,n,2.0NRT,276.90,0.20,N,11:00:00,2020-01-04 11:00:00
2,37.31704,-122.09343,301.30,0.42,0.45,2020-01-05,10:24:00,1,VIIRS,n,2.0NRT,280.60,0.90,N,10:00:00,2020-01-05 10:00:00
3,37.31878,-122.09222,296.00,0.41,0.37,2020-01-06,10:06:00,1,VIIRS,n,2.0NRT,280.00,0.80,N,10:00:00,2020-01-06 10:00:00
5,37.18483,-121.67795,296.70,0.41,0.37,2020-01-07,09:48:00,1,VIIRS,n,2.0NRT,276.90,0.80,N,10:00:00,2020-01-07 10:00:00
9,37.31736,-122.08982,302.00,0.39,0.36,2020-01-12,09:54:00,1,VIIRS,n,2.0NRT,274.30,0.50,N,10:00:00,2020-01-12 10:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10054,36.97666,-121.54601,330.14,0.38,0.36,2023-12-12,21:03:00,1,VIIRS,n,2.0NRT,291.13,2.34,D,21:00:00,2023-12-12 21:00:00
10056,37.09114,-122.15366,327.73,0.53,0.42,2023-12-13,20:46:00,1,VIIRS,n,2.0NRT,287.87,6.63,D,21:00:00,2023-12-13 21:00:00
10057,37.45424,-121.93408,299.06,0.54,0.42,2023-12-23,09:38:00,1,VIIRS,n,2.0NRT,278.06,1.04,N,10:00:00,2023-12-23 10:00:00
10058,37.45675,-121.93478,305.59,0.32,0.55,2023-12-24,09:17:00,1,VIIRS,n,2.0NRT,276.24,0.71,N,09:00:00,2023-12-24 09:00:00
10059,37.45598,-121.93182,305.10,0.46,0.39,2023-12-28,09:43:00,1,VIIRS,n,2.0NRT,281.57,0.90,N,10:00:00,2023-12-28 10:00:00

In [29]:
# Samples from the dates
nasa[nasa['acq_date'].duplicated(keep=False)]

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,round_time,date_time
27,37.21408,-121.90261,295.60,0.41,0.37,2020-02-07,10:06:00,1,VIIRS,n,2.0NRT,279.00,0.40,N,10:00:00,2020-02-07 10:00:00
30,37.14733,-121.64178,330.70,0.39,0.44,2020-02-07,21:24:00,1,VIIRS,n,2.0NRT,294.30,0.90,D,21:00:00,2020-02-07 21:00:00
33,37.45810,-121.93336,298.30,0.40,0.60,2020-02-10,09:12:00,1,VIIRS,n,2.0NRT,277.90,0.40,N,09:00:00,2020-02-10 09:00:00
34,37.14628,-121.64363,330.10,0.48,0.48,2020-02-10,20:30:00,1,VIIRS,n,2.0NRT,295.00,1.70,D,20:00:00,2020-02-10 20:00:00
39,37.45597,-121.93024,302.50,0.46,0.39,2020-02-19,09:42:00,1,VIIRS,n,2.0NRT,277.80,0.60,N,10:00:00,2020-02-19 10:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10024,36.97908,-122.11514,334.38,0.47,0.40,2023-11-09,21:25:00,1,VIIRS,n,2.0NRT,282.68,7.00,D,21:00:00,2023-11-09 21:00:00
10026,37.45395,-121.93423,299.02,0.38,0.58,2023-11-12,10:47:00,1,VIIRS,n,2.0NRT,275.89,0.56,N,11:00:00,2023-11-12 11:00:00
10027,37.12435,-122.16129,338.72,0.62,0.54,2023-11-12,20:25:00,1,VIIRS,n,2.0NRT,290.46,7.22,D,20:00:00,2023-11-12 20:00:00
10028,37.45317,-121.93156,296.10,0.42,0.46,2023-11-13,10:28:00,1,VIIRS,n,2.0NRT,280.62,0.59,N,10:00:00,2023-11-13 10:00:00
10029,37.17338,-121.50742,336.87,0.36,0.57,2023-11-13,21:48:00,1,VIIRS,n,2.0NRT,290.13,4.48,D,22:00:00,2023-11-13 22:00:00

In [64]:
print(nasa['date_time'])

0       2020-01-04 11:00:00
2       2020-01-05 10:00:00
3       2020-01-06 10:00:00
5       2020-01-07 10:00:00
9       2020-01-12 10:00:00
                ...
10054   2023-12-12 21:00:00
10056   2023-12-13 21:00:00
10057   2023-12-23 10:00:00
10058   2023-12-24 09:00:00
10059   2023-12-28 10:00:00
Name: date_time, Length: 999, dtype: datetime64[ns]

In [65]:
merged_df = pd.merge(standardized_copy, nasa, on='date_time', how='left', suffixes=('_ststandardized', '_nasa'))

# Filter out rows where there was a match
matched_rows = merged_df.dropna(subset=['brightness'])

# Filter out rows where there was no match
unmatched_rows = merged_df[merged_df['brightness'].isna()]

In [66]:
merged_df.columns

Index(['date', 'temperature_2m', 'relative_humidity_2m', 'dew_point_2m',
       'apparent_temperature', 'precipitation', 'et0_fao_evapotranspiration',
       'wind_speed_100m', 'wind_direction_100m', 'time', 'date_time',
       'latitude', 'longitude', 'brightness', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'confidence', 'version',
       'bright_t31', 'frp', 'daynight', 'round_time'],
      dtype='object')

In [33]:
merged_df.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,time,...,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,round_time
0,1970-01-01,58.700300,62.268870,45.8303,55.678288,0.0,0.004173,6.215479,239.74365,00:00:00,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1970-01-01,54.380302,61.066536,41.2403,50.515940,0.0,0.001316,4.529580,212.90524,00:00:00,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1970-01-01,57.080300,50.207703,38.7203,53.103203,0.0,0.000875,0.316360,224.99990,00:00:00,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1970-01-01,50.420300,65.645630,39.3503,46.027035,0.0,0.000634,4.343468,168.11136,00:00:00,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1970-01-01,53.120300,54.411290,37.1003,49.102360,0.0,0.000436,3.472758,194.93147,00:00:00,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
matched_rows.shape

(997, 26)

In [68]:
unmatched_rows.shape

(34090, 26)

In [69]:
unmatched = pd.merge(standardized_copy, nasa, on='date_time', how='left', indicator=True).query('_merge == "left_only"')

In [37]:
unmatched

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,time,...,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,round_time,_merge
0,1970-01-01,58.700300,62.268870,45.8303,55.678288,0.0,0.004173,6.215479,239.74365,00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1970-01-01,54.380302,61.066536,41.2403,50.515940,0.0,0.001316,4.529580,212.90524,00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,1970-01-01,57.080300,50.207703,38.7203,53.103203,0.0,0.000875,0.316360,224.99990,00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,1970-01-01,50.420300,65.645630,39.3503,46.027035,0.0,0.000634,4.343468,168.11136,00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,1970-01-01,53.120300,54.411290,37.1003,49.102360,0.0,0.000436,3.472758,194.93147,00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1970-01-01,44.660300,68.031080,34.7603,39.211395,0.0,0.000564,6.605782,298.30066,00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
996,1970-01-01,51.410300,44.403698,30.4403,46.507988,0.0,0.000441,3.537008,288.43503,00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
997,1970-01-01,48.530300,47.820280,29.6303,43.688583,0.0,0.000162,3.537007,304.69522,00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
998,1970-01-01,47.630302,47.501950,28.6403,42.212982,0.0,0.000592,5.663631,279.09018,00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
999,1970-01-01,48.530300,42.811066,26.9303,42.707300,0.0,0.000904,6.651079,289.65390,00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [70]:
standardized_copy['is_possible_ff'] = standardized_copy['date_time'].isin(nasa['date_time'].tolist())

In [71]:
standardized_copy[standardized_copy['is_possible_ff'] == True].shape

(990, 12)

In [72]:
standardized_copy['target'] = standardized_copy['is_possible_ff'].astype(int)

In [73]:
standardized_copy[standardized_copy['target'] == 1].shape

(990, 13)

In [ ]:
standardized_copy

,date,time,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,date_time,is_possible_ff,target
0,1970-01-01,00:00:00,58.700300,62.268870,45.8303,55.678288,0.0,0.004173,6.215479,239.74365,1970-01-01,False,0
1,1970-01-01,00:00:00,54.380302,61.066536,41.2403,50.515940,0.0,0.001316,4.529580,212.90524,1970-01-01,False,0
2,1970-01-01,00:00:00,57.080300,50.207703,38.7203,53.103203,0.0,0.000875,0.316360,224.99990,1970-01-01,False,0
3,1970-01-01,00:00:00,50.420300,65.645630,39.3503,46.027035,0.0,0.000634,4.343468,168.11136,1970-01-01,False,0
4,1970-01-01,00:00:00,53.120300,54.411290,37.1003,49.102360,0.0,0.000436,3.472758,194.93147,1970-01-01,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1970-01-01,00:00:00,44.660300,68.031080,34.7603,39.211395,0.0,0.000564,6.605782,298.30066,1970-01-01,False,0
996,1970-01-01,00:00:00,51.410300,44.403698,30.4403,46.507988,0.0,0.000441,3.537008,288.43503,1970-01-01,False,0
997,1970-01-01,00:00:00,48.530300,47.820280,29.6303,43.688583,0.0,0.000162,3.537007,304.69522,1970-01-01,False,0
998,1970-01-01,00:00:00,47.630302,47.501950,28.6403,42.212982,0.0,0.000592,5.663631,279.09018,1970-01-01,False,0
999,1970-01-01,00:00:00,48.530300,42.811066,26.9303,42.707300,0.0,0.000904,6.651079,289.65390,1970-01-01,False,0

In [74]:
standardized_copy.to_csv('standardized_copy_features_target_v1.csv', index=False)

In [75]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# Load dataset
data = pd.read_csv('standardized_copy_features_target_v1.csv')

# Features (X) and target (y)
X = data.drop(columns=['target'])  # Drop target column
y = data['target']

# Ensure only numeric data in X
X = X.select_dtypes(include=['float64', 'int64'])

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

# Standardize features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Initialize classifiers
classifiers = {
    'Logistic Regression': LogisticRegression(),
    'Random Forest': RandomForestClassifier(),
    'Decision Tree': DecisionTreeClassifier(),
    'SVM': SVC(),
    'KNN': KNeighborsClassifier(),
    'Naive Bayes': GaussianNB()
}

# Train, predict, and compare accuracies
results = {}
for name, clf in classifiers.items():
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    results[name] = accuracy

# Display results
print("\nClassifier Accuracy Comparison:")
for name, acc in results.items():
    print(f"{name}: {acc * 100:.2f}%")

# Create a summary table
results_df = pd.DataFrame(list(results.items()), columns=['Classifier', 'Accuracy'])
print("\nSummary Table:")
print(results_df)

# Save results to CSV
results_df.to_csv('classifier_accuracy_comparison_std.csv', index=False)
print("\nAccuracy comparison saved to 'classifier_accuracy_comparison_std.csv'.")

Classifier Accuracy Comparison:
Logistic Regression: 97.45%
Random Forest: 97.45%
Decision Tree: 94.06%
SVM: 97.45%
KNN: 97.33%
Naive Bayes: 76.77%

Summary Table:
            Classifier  Accuracy
0  Logistic Regression  0.974487
1        Random Forest  0.974487
2        Decision Tree  0.940564
3                  SVM  0.974487
4                  KNN  0.973347
5          Naive Bayes  0.767674

Accuracy comparison saved to 'classifier_accuracy_comparison_std.csv'.