In [18]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')
nasa = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\Wildfire_Data_2020-2023.csv')

weather.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
0,2020-01-01 00:00:00+00:00,58.700300,62.268870,45.8303,55.678288,0.0,0.004173,6.215479,239.74365
1,2020-01-01 01:00:00+00:00,54.380302,61.066536,41.2403,50.515940,0.0,0.001316,4.529580,212.90524
2,2020-01-01 02:00:00+00:00,57.080300,50.207703,38.7203,53.103203,0.0,0.000875,0.316360,224.99990
3,2020-01-01 03:00:00+00:00,50.420300,65.645630,39.3503,46.027035,0.0,0.000634,4.343468,168.11136
4,2020-01-01 04:00:00+00:00,53.120300,54.411290,37.1003,49.102360,0.0,0.000436,3.472758,194.93147

In [20]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
nasa = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\Wildfire_Data_2020-2023.csv')
nasa.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,37.45576,-121.93266,298.7,0.38,0.58,1/4/20,1042,1,VIIRS,n,2.0NRT,276.9,0.2,N
1,37.31750,-122.09219,295.9,0.37,0.58,1/4/20,1042,1,VIIRS,n,2.0NRT,280.4,0.5,N
2,37.31704,-122.09343,301.3,0.42,0.45,1/5/20,1024,1,VIIRS,n,2.0NRT,280.6,0.9,N
3,37.31878,-122.09222,296.0,0.41,0.37,1/6/20,1006,1,VIIRS,n,2.0NRT,280.0,0.8,N
4,37.45645,-121.93143,305.3,0.41,0.37,1/6/20,1006,1,VIIRS,n,2.0NRT,276.6,0.9,N

In [21]:
import pandas as pd
import numpy as np
from IPython.display import display

# Load the original dataset
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')

# Make a copy of the original DataFrame
mastercopy = weather.copy()  # Changed the copy name to 'mastercopy'

# Define the number of NaN values to insert
num_nan_values = 50

# Insert random NaN values into the copy
for _ in range(num_nan_values):
    row_idx = np.random.choice(mastercopy.index)  # Randomly select a row index
    col_idx = np.random.choice(mastercopy.columns)  # Randomly select a column
    mastercopy.loc[row_idx, col_idx] = np.nan  # Set the selected cell to NaN

# Verify the NaN insertion by checking NaN counts
nan_counts = mastercopy.isna().sum()
print("NaN values per column:")
print(nan_counts)

# Display more rows if necessary to spot NaNs
print("\nDisplaying more rows to observe NaN values:")
display(mastercopy.head(20))  # Increase the row count displayed to 20

# Optionally, filter and display only rows with at least one NaN
print("\nRows with at least one NaN value:")
display(mastercopy[mastercopy.isna().any(axis=1)])

# Save the mastercopy DataFrame to an Excel file
output_path = r'C:\Users\HP\OneDrive\Documents\data science project\mastercopy_with_nans.xlsx'
mastercopy.to_excel(output_path, index=False)

print(f"\nPhysical copy of the data with NaNs has been saved to: {output_path}")

NaN values per column:
date                          3
temperature_2m                5
relative_humidity_2m          7
dew_point_2m                  6
apparent_temperature          8
precipitation                 3
et0_fao_evapotranspiration    7
wind_speed_100m               6
wind_direction_100m           5
dtype: int64

Displaying more rows to observe NaN values:

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
0,2020-01-01 00:00:00+00:00,58.700300,62.268870,45.8303,55.678288,0.0,0.004173,6.215479,239.743650
1,2020-01-01 01:00:00+00:00,54.380302,61.066536,41.2403,50.515940,0.0,0.001316,4.529580,212.905240
2,2020-01-01 02:00:00+00:00,57.080300,50.207703,38.7203,53.103203,0.0,0.000875,0.316360,224.999900
3,2020-01-01 03:00:00+00:00,50.420300,65.645630,39.3503,46.027035,0.0,0.000634,4.343468,168.111360
4,2020-01-01 04:00:00+00:00,53.120300,54.411290,37.1003,49.102360,0.0,0.000436,3.472758,194.931470
5,2020-01-01 05:00:00+00:00,51.680300,57.574200,37.1903,47.492620,0.0,0.000494,2.730607,55.007900
6,2020-01-01 06:00:00+00:00,52.850300,53.604927,36.4703,48.882390,0.0,0.000297,1.140651,101.309900
7,2020-01-01 07:00:00+00:00,52.400300,53.538017,36.0203,48.481415,0.0,0.000169,1.304384,239.036300
8,2020-01-01 08:00:00+00:00,44.390300,71.234580,35.6603,38.658460,0.0,0.000617,6.487300,180.000000
9,2020-01-01 09:00:00+00:00,46.910300,62.475174,34.7603,41.930405,0.0,0.000538,5.524983,158.629320
10,2020-01-01 10:00:00+00:00,49.790300,55.689068,34.5803,46.100227,0.0,0.000000,2.122205,341.564940
11,2020-01-01 11:00:00+00:00,44.120300,68.702805,34.4903,38.678020,0.0,0.000508,3.257121,164.054530
12,2020-01-01 12:00:00+00:00,43.940300,71.696070,35.3903,39.021810,0.0,0.000244,6.491156,178.025120
13,2020-01-01 13:00:00+00:00,43.490300,75.049570,36.1103,38.606384,0.0,0.000176,6.231560,158.962420
14,2020-01-01 14:00:00+00:00,44.930298,74.394580,37.2803,40.639053,0.0,0.000046,7.024322,142.765090
15,2020-01-01 15:00:00+00:00,44.390300,80.067510,38.6303,40.134470,0.0,0.000000,5.188683,7.431319
16,2020-01-01 16:00:00+00:00,45.380300,77.110120,38.6303,40.553760,0.0,0.000880,4.106586,150.642350
17,2020-01-01 17:00:00+00:00,48.980300,73.755875,40.9703,44.796505,0.0,0.002133,5.534032,165.963730
18,2020-01-01 18:00:00+00:00,52.940300,67.805260,42.5903,50.460690,0.0,0.004531,2.000834,206.564990
19,2020-01-01 19:00:00+00:00,55.190300,73.612710,46.9103,53.149000,0.0,0.005853,3.802900,360.000000

Rows with at least one NaN value:

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
169,NaN,48.800300,84.092840,44.210300,45.708244,0.000000,0.000685,7.993950,342.072000
470,2020-01-20 14:00:00+00:00,45.560300,83.009834,40.700302,40.767090,0.000000,NaN,6.891267,324.246030
903,2020-02-07 15:00:00+00:00,39.710300,85.603330,35.750300,34.699093,0.000000,0.000000,5.592500,NaN
2898,2020-04-30 18:00:00+00:00,65.900300,54.571697,49.070297,64.894930,0.000000,0.016938,NaN,312.709380
3785,NaN,64.820300,50.163994,45.830300,60.800270,0.000000,0.012583,7.943713,302.347400
5191,2020-08-04 07:00:00+00:00,62.570300,81.179276,NaN,64.442020,0.000000,0.000000,1.118500,143.130020
5226,2020-08-05 18:00:00+00:00,66.710300,63.283110,53.840298,65.072050,NaN,0.012675,7.703859,295.820920
5586,2020-08-20 18:00:00+00:00,NaN,44.463516,51.320297,74.773920,0.000000,0.019138,5.556592,319.899140
5659,2020-08-23 19:00:00+00:00,89.570300,NaN,53.390297,90.976300,0.000000,0.025622,5.751309,346.504240
6056,2020-09-09 08:00:00+00:00,63.830300,64.619194,51.680300,62.766518,0.000000,0.000708,3.385195,NaN
7290,2020-10-30 18:00:00+00:00,59.780300,50.267230,41.240300,56.316800,NaN,0.010053,3.586184,3.576264
8232,2020-12-09 00:00:00+00:00,65.810295,47.160510,45.110300,63.078680,0.000000,NaN,4.697699,270.000000
10655,2021-03-19 23:00:00+00:00,58.250298,65.026505,46.550300,53.162674,0.003937,0.007726,NaN,330.852020
10696,2021-03-21 16:00:00+00:00,47.000298,89.967026,44.210300,NaN,0.000000,0.002930,4.256183,266.987270
12102,2021-05-19 06:00:00+00:00,54.470300,55.383260,38.810300,NaN,0.000000,0.001016,5.854789,313.451900
14208,2021-08-15 00:00:00+00:00,NaN,42.002870,56.180300,78.892975,0.000000,0.019928,14.967854,350.537750
14309,2021-08-19 05:00:00+00:00,66.080300,NaN,53.840298,64.720924,0.000000,0.001492,7.605800,360.000000
15299,2021-09-29 11:00:00+00:00,53.210300,79.128220,46.910300,51.169150,0.000000,NaN,2.377964,138.814180
16960,2021-12-07 16:00:00+00:00,50.060303,91.941444,47.810303,47.783176,0.003937,NaN,6.502709,220.814990
17207,2021-12-17 23:00:00+00:00,53.750298,NaN,42.410300,48.179077,0.000000,0.006258,10.906379,295.513820
17766,2022-01-10 06:00:00+00:00,49.250298,NaN,45.110300,47.119766,0.000000,0.000000,2.281301,258.690100
18442,2022-02-07 10:00:00+00:00,43.580300,65.027030,NaN,37.636050,0.000000,0.000721,6.843904,191.309890
18499,2022-02-09 19:00:00+00:00,60.590298,49.351944,41.510300,55.865726,0.000000,NaN,8.204027,258.996500
18510,2022-02-10 06:00:00+00:00,58.880302,46.244797,38.270300,NaN,0.000000,0.000170,5.027032,237.724380
18974,2022-03-01 14:00:00+00:00,45.740300,66.002990,35.030300,39.733963,0.000000,NaN,7.908989,171.869980
18984,2022-03-02 00:00:00+00:00,68.240295,37.259470,41.150300,62.618180,0.000000,0.011399,10.559019,NaN
19654,2022-03-29 22:00:00+00:00,61.940300,68.828920,51.590298,NaN,0.000000,0.014335,15.983204,313.298680
19770,2022-04-03 18:00:00+00:00,NaN,58.385086,47.090298,61.416100,0.000000,0.014998,4.032809,340.559880
19781,2022-04-04 05:00:00+00:00,51.230300,66.669480,40.520300,48.457233,NaN,0.000000,2.864758,321.340180
19850,2022-04-07 02:00:00+00:00,76.250300,NaN,43.220300,70.713730,0.000000,0.008594,15.324675,303.690100
21547,2022-06-16 19:00:00+00:00,70.940300,45.439724,48.800300,NaN,0.000000,0.022441,17.188547,321.340180
21868,2022-06-30 04:00:00+00:00,NaN,75.809560,52.220300,56.086440,0.000000,0.002071,15.487085,349.177030
21870,2022-06-30 06:00:00+00:00,57.260300,82.139720,51.860302,NaN,0.000000,0.000332,9.215245,354.427900
22986,2022-08-15 18:00:00+00:00,73.730300,44.961727,51.050300,74.841510,0.000000,0.019422,NaN,360.000000
23345,2022-08-30 17:00:00+00:00,59.960304,91.376380,57.440300,60.596870,0.000000,0.008313,4.457191,NaN
24217,2022-10-06 01:00:00+00:00,76.520300,45.091114,53.660300,74.635360,0.000000,0.007274,9.323219,NaN
24731,2022-10-27 11:00:00+00:00,51.410300,64.401750,NaN,47.566517,0.000000,0.000407,3.355500,143.130020
26384,2023-01-04 08:00:00+00:00,45.920300,85.079445,41.690300,41.256237,0.000000,0.000083,NaN,142.373700
26407,2023-01-05 07:00:00+00:00,56.540300,84.580720,NaN,50.599075,0.165354,0.001033,25.155062,170.789050
26437,NaN,46.550300,86.602090,42.770300,41.603370,0.000000,0.000124,15.830627,137.290630
27376,2023-02-14 16:00:00+00:00,NaN,70.013140,33.410300,35.414566,0.000000,0.001483,14.779444,320.527560
27697,2023-02-28 01:00:00+00:00,46.640297,76.683945,39.710300,41.952694,0.015748,NaN,7.409166,298.886470
27910,2023-03-08 22:00:00+00:00,53.120300,57.170090,NaN,49.252083,0.000000,0.011890,5.336077,33.023872
29112,2023-04-28 00:00:00+00:00,87.320300,19.702480,NaN,81.255130,0.000000,0.022802,12.852534,328.523200
29765,2023-05-25 05:00:00+00:00,56.450300,70.089300,46.820297,52.025590,0.000000,0.001413,NaN,155.376450
30885,2023-07-10 21:00:00+00:00,74.360300,43.875492,50.960300,76.032770,0.000000,0.025960,NaN,336.447720
31886,2023-08-21 14:00:00+00:00,70.130300,NaN,55.550300,67.983680,0.000000,0.003857,14.407391,126.158280
32953,2023-10-05 01:00:00+00:00,88.670300,NaN,47.900300,85.086230,0.000000,0.009959,8.420753,343.009100
33173,2023-10-14 05:00:00+00:00,61.760296,71.366060,52.400300,NaN,0.000000,0.000123,2.618341,340.016800
33678,2023-11-04 06:00:00+00:00,62.930300,65.811020,51.320297,NaN,0.000000,0.000000,3.607054,187.124920

Physical copy of the data with NaNs has been saved to: C:\Users\HP\OneDrive\Documents\data science project\mastercopy_with_nans.xlsx

In [22]:
#encoding
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load the dataset
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Loop through all columns to apply label encoding to categorical columns
for column in weather.columns:
    if weather[column].dtype == 'object':  # Check if the column is categorical (strings)
        # Apply Label Encoding
        weather[column] = label_encoder.fit_transform(weather[column].astype(str))

# Display the transformed DataFrame with label encoding applied
print("Data after Label Encoding:")
print(weather.head(15))  # Display the first 15 rows to check the encoding

Data after Label Encoding:
    date  temperature_2m  relative_humidity_2m  dew_point_2m  \
0      0       58.700300             62.268870       45.8303
1      1       54.380302             61.066536       41.2403
2      2       57.080300             50.207703       38.7203
3      3       50.420300             65.645630       39.3503
4      4       53.120300             54.411290       37.1003
5      5       51.680300             57.574200       37.1903
6      6       52.850300             53.604927       36.4703
7      7       52.400300             53.538017       36.0203
8      8       44.390300             71.234580       35.6603
9      9       46.910300             62.475174       34.7603
10    10       49.790300             55.689068       34.5803
11    11       44.120300             68.702805       34.4903
12    12       43.940300             71.696070       35.3903
13    13       43.490300             75.049570       36.1103
14    14       44.930298             74.394580       37.2803

    apparent_temperature  precipitation  et0_fao_evapotranspiration  \
0              55.678288            0.0                    0.004173
1              50.515940            0.0                    0.001316
2              53.103203            0.0                    0.000875
3              46.027035            0.0                    0.000634
4              49.102360            0.0                    0.000436
5              47.492620            0.0                    0.000494
6              48.882390            0.0                    0.000297
7              48.481415            0.0                    0.000169
8              38.658460            0.0                    0.000617
9              41.930405            0.0                    0.000538
10             46.100227            0.0                    0.000000
11             38.678020            0.0                    0.000508
12             39.021810            0.0                    0.000244
13             38.606384            0.0                    0.000176
14             40.639053            0.0                    0.000046

    wind_speed_100m  wind_direction_100m
0          6.215479            239.74365
1          4.529580            212.90524
2          0.316360            224.99990
3          4.343468            168.11136
4          3.472758            194.93147
5          2.730607             55.00790
6          1.140651            101.30990
7          1.304384            239.03630
8          6.487300            180.00000
9          5.524983            158.62932
10         2.122205            341.56494
11         3.257121            164.05453
12         6.491156            178.02512
13         6.231560            158.96242
14         7.024322            142.76509

In [23]:
#mean
import pandas as pd
import numpy as np

# Load the dataset
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')

# Create a copy named 'mean'
mean_copy = weather.copy()

# Loop through all columns and replace NaNs with the mean of the column
for column in mean_copy.columns:
    if mean_copy[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        if mean_copy[column].isna().sum() > 0:  # Check if the column contains NaN values
            mean_val = mean_copy[column].mean()  # Calculate the mean of the column
            mean_copy[column] = mean_copy[column].fillna(mean_val)  # Replace NaNs with the mean

# Display the columns after replacing NaNs
print("Data after replacing NaNs with mean in 'mean' copy:")
print(mean_copy.head(15))  # Display the first 15 rows to check the changes

# Save the 'mean' copy DataFrame to an Excel file
output_path_mean = r'C:\Users\HP\OneDrive\Documents\data science project\mean_copy_with_nans_replaced.xlsx'
mean_copy.to_excel(output_path_mean, index=False)

print(f"\nThe updated 'mean' dataset has been saved to: {output_path_mean}")

Data after replacing NaNs with mean in 'mean' copy:
                         date  temperature_2m  relative_humidity_2m  \
0   2020-01-01 00:00:00+00:00       58.700300             62.268870
1   2020-01-01 01:00:00+00:00       54.380302             61.066536
2   2020-01-01 02:00:00+00:00       57.080300             50.207703
3   2020-01-01 03:00:00+00:00       50.420300             65.645630
4   2020-01-01 04:00:00+00:00       53.120300             54.411290
5   2020-01-01 05:00:00+00:00       51.680300             57.574200
6   2020-01-01 06:00:00+00:00       52.850300             53.604927
7   2020-01-01 07:00:00+00:00       52.400300             53.538017
8   2020-01-01 08:00:00+00:00       44.390300             71.234580
9   2020-01-01 09:00:00+00:00       46.910300             62.475174
10  2020-01-01 10:00:00+00:00       49.790300             55.689068
11  2020-01-01 11:00:00+00:00       44.120300             68.702805
12  2020-01-01 12:00:00+00:00       43.940300             71.696070
13  2020-01-01 13:00:00+00:00       43.490300             75.049570
14  2020-01-01 14:00:00+00:00       44.930298             74.394580

    dew_point_2m  apparent_temperature  precipitation  \
0        45.8303             55.678288            0.0
1        41.2403             50.515940            0.0
2        38.7203             53.103203            0.0
3        39.3503             46.027035            0.0
4        37.1003             49.102360            0.0
5        37.1903             47.492620            0.0
6        36.4703             48.882390            0.0
7        36.0203             48.481415            0.0
8        35.6603             38.658460            0.0
9        34.7603             41.930405            0.0
10       34.5803             46.100227            0.0
11       34.4903             38.678020            0.0
12       35.3903             39.021810            0.0
13       36.1103             38.606384            0.0
14       37.2803             40.639053            0.0

    et0_fao_evapotranspiration  wind_speed_100m  wind_direction_100m
0                     0.004173         6.215479            239.74365
1                     0.001316         4.529580            212.90524
2                     0.000875         0.316360            224.99990
3                     0.000634         4.343468            168.11136
4                     0.000436         3.472758            194.93147
5                     0.000494         2.730607             55.00790
6                     0.000297         1.140651            101.30990
7                     0.000169         1.304384            239.03630
8                     0.000617         6.487300            180.00000
9                     0.000538         5.524983            158.62932
10                    0.000000         2.122205            341.56494
11                    0.000508         3.257121            164.05453
12                    0.000244         6.491156            178.02512
13                    0.000176         6.231560            158.96242
14                    0.000046         7.024322            142.76509

The updated 'mean' dataset has been saved to: C:\Users\HP\OneDrive\Documents\data science project\mean_copy_with_nans_replaced.xlsx

In [24]:
#min
import pandas as pd
import numpy as np

# Load the dataset
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')

# Create a copy for min replacement
min_copy = weather.copy()

# Replace NaN values with the minimum value of each column
for column in min_copy.columns:
    if min_copy[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        if min_copy[column].isna().sum() > 0:  # Check if the column contains NaN values
            min_val = min_copy[column].min()  # Calculate the minimum of the column
            min_copy[column] = min_copy[column].fillna(min_val)  # Replace NaNs with the minimum

# Save the 'min' copy DataFrame to an Excel file
output_path_min = r'C:\Users\HP\OneDrive\Documents\data science project\min_copy_with_nans_replaced.xlsx'
min_copy.to_excel(output_path_min, index=False)

print(f"\nThe 'min' copy dataset has been saved to: {output_path_min}")

The 'min' copy dataset has been saved to: C:\Users\HP\OneDrive\Documents\data science project\min_copy_with_nans_replaced.xlsx

In [26]:
#max
import pandas as pd
import numpy as np

# Load the dataset
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')

# Create a copy for max replacement
max_copy = weather.copy()

# Replace NaN values with the maximum value of each column
for column in max_copy.columns:
    if max_copy[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        if max_copy[column].isna().sum() > 0:  # Check if the column contains NaN values
            max_val = max_copy[column].max()  # Calculate the maximum of the column
            max_copy[column] = max_copy[column].fillna(max_val)  # Replace NaNs with the maximum

# Save the 'max' copy DataFrame to an Excel file
output_path_max = r'C:\Users\HP\OneDrive\Documents\data science project\max_copy_with_nans_replaced.xlsx'
max_copy.to_excel(output_path_max, index=False)

print(f"\nThe 'max' copy dataset has been saved to: {output_path_max}")

The 'max' copy dataset has been saved to: C:\Users\HP\OneDrive\Documents\data science project\max_copy_with_nans_replaced.xlsx

In [43]:
#Standard Deviation
import pandas as pd
import numpy as np

# Load the dataset
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')

# Create a copy for std (standard deviation) replacement
std_copy = weather.copy()

# Replace NaN values with the standard deviation of each column
for column in std_copy.columns:
    if std_copy[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        if std_copy[column].isna().sum() > 0:  # Check if the column contains NaN values
            std_val = std_copy[column].std()  # Calculate the standard deviation of the column
            std_copy[column] = std_copy[column].fillna(std_val)  # Replace NaNs with the standard deviation

# Save the 'std' copy DataFrame to an Excel file
output_path_std = r'C:\Users\HP\OneDrive\Documents\data science project\std_copy_with_nans_replaced.xlsx'
std_copy.to_excel(output_path_std, index=False)

print(f"\nThe 'std' copy dataset has been saved to: {output_path_std}")

The 'std' copy dataset has been saved to: C:\Users\HP\OneDrive\Documents\data science project\std_copy_with_nans_replaced.xlsx

In [27]:
#Standardized Values 
import pandas as pd
import numpy as np

# Load the dataset
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')

# Create a copy for standardization
standardized_copy = weather.copy()

# Replace NaN values with standardized values (Z-score)
for column in standardized_copy.columns:
    if standardized_copy[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        if standardized_copy[column].isna().sum() > 0:  # Check if the column contains NaN values
            mean_val = standardized_copy[column].mean()  # Mean of the column
            std_val = standardized_copy[column].std()  # Standard deviation of the column
            # Standardize by replacing NaNs with (value - mean) / std
            standardized_copy[column] = standardized_copy[column].fillna((mean_val - mean_val) / std_val)

# Save the 'standardized' copy DataFrame to an Excel file
output_path_standardized = r'C:\Users\HP\OneDrive\Documents\data science project\standardized_copy_with_nans_replaced.xlsx'
standardized_copy.to_excel(output_path_standardized, index=False)

print(f"\nThe 'standardized' copy dataset has been saved to: {output_path_standardized}")

The 'standardized' copy dataset has been saved to: C:\Users\HP\OneDrive\Documents\data science project\standardized_copy_with_nans_replaced.xlsx

In [28]:
from datetime import datetime, timedelta
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')
nasa = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\Wildfire_Data_2020-2023.csv')

In [30]:
nasa.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,37.45576,-121.93266,298.7,0.38,0.58,1/4/20,1042,1,VIIRS,n,2.0NRT,276.9,0.2,N
1,37.31750,-122.09219,295.9,0.37,0.58,1/4/20,1042,1,VIIRS,n,2.0NRT,280.4,0.5,N
2,37.31704,-122.09343,301.3,0.42,0.45,1/5/20,1024,1,VIIRS,n,2.0NRT,280.6,0.9,N
3,37.31878,-122.09222,296.0,0.41,0.37,1/6/20,1006,1,VIIRS,n,2.0NRT,280.0,0.8,N
4,37.45645,-121.93143,305.3,0.41,0.37,1/6/20,1006,1,VIIRS,n,2.0NRT,276.6,0.9,N

In [31]:
nasa.dtypes

latitude      float64
longitude     float64
brightness    float64
scan          float64
track         float64
acq_date       object
acq_time        int64
satellite       int64
instrument     object
confidence     object
version        object
bright_t31    float64
frp           float64
daynight       object
dtype: object

In [32]:
nasa.confidence.value_counts()

confidence
n    8666
h    1028
l     366
Name: count, dtype: int64

In [ ]:
#The samples with `low (l)` confidence are the ones where NASA thinks that sunlight's glare could have caused pixel sensors to pick high values, and hence the satellite marked it as wildfire. <br />
#We should remove these samples later. More details [here](https://www.earthdata.nasa.gov/learn/find-data/near-real-time/firms/viirs-i-band-375-m-active-fire-data).

## Deduplication of NASA

Much of the samples that exist in the dataset are from the same date and time. These samples just have slightly different `lat/long`, and their corresponding `brightness`.<br />
The rest of the features like `scan`, `track`, `satellite` etc. are the same. These samples does not add variance/diversity to the dataset, and may in turn lead to bias or create artificial importance of these fixed features.

Therefore, its better to remove such samples.

In [160]:
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\hourly_weather_data.csv')
nasa = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data science project\Wildfire_Data_2020-2023.csv')

In [161]:
nasa[nasa.duplicated(subset=['acq_date', 'acq_time'])]

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
1,37.31750,-122.09219,295.90,0.37,0.58,1/4/20,1042,1,VIIRS,n,2.0NRT,280.40,0.50,N
4,37.45645,-121.93143,305.30,0.41,0.37,1/6/20,1006,1,VIIRS,n,2.0NRT,276.60,0.90,N
6,37.45734,-121.93303,302.80,0.41,0.37,1/7/20,948,1,VIIRS,n,2.0NRT,275.90,0.60,N
7,37.31814,-122.09075,302.40,0.42,0.37,1/7/20,948,1,VIIRS,n,2.0NRT,280.10,1.00,N
8,37.18447,-121.68083,298.70,0.41,0.37,1/7/20,948,1,VIIRS,n,2.0NRT,276.20,0.80,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10045,37.03717,-121.52206,328.02,0.44,0.38,12/2/23,2053,1,VIIRS,n,2.0NRT,280.33,5.49,D
10048,37.18330,-121.68040,295.06,0.39,0.36,12/6/23,956,1,VIIRS,n,2.0NRT,280.88,0.63,N
10049,37.21344,-121.90060,295.62,0.39,0.36,12/6/23,956,1,VIIRS,n,2.0NRT,280.92,0.24,N
10053,37.18374,-121.67919,298.30,0.39,0.36,12/11/23,1002,1,VIIRS,n,2.0NRT,277.27,0.47,N
10055,37.13363,-122.18042,328.04,0.39,0.36,12/12/23,2103,1,VIIRS,n,2.0NRT,288.11,2.23,D

In [134]:
nasa.shape

(10060, 14)

In [162]:
nasa.drop_duplicates(subset=['acq_date', 'acq_time'], inplace=True)

In [163]:
nasa.shape

(999, 14)

In [164]:
mastercopy[mastercopy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,time
1,2020-01-01,54.380302,61.066536,41.240300,50.515940,0.0,0.001316,4.529580,212.90524,00:00:00
2,2020-01-01,57.080300,50.207703,38.720300,53.103203,0.0,0.000875,0.316360,224.99990,00:00:00
3,2020-01-01,50.420300,65.645630,39.350300,46.027035,0.0,0.000634,4.343468,168.11136,00:00:00
4,2020-01-01,53.120300,54.411290,37.100300,49.102360,0.0,0.000436,3.472758,194.93147,00:00:00
5,2020-01-01,51.680300,57.574200,37.190300,47.492620,0.0,0.000494,2.730607,55.00790,00:00:00
...,...,...,...,...,...,...,...,...,...,...
35083,2024-01-01,50.510300,91.647210,48.170300,48.790024,0.0,0.005746,3.202897,282.09473,00:00:00
35084,2024-01-01,53.660300,84.401740,49.070297,52.423836,0.0,0.008103,3.042649,323.97253,00:00:00
35085,2024-01-01,55.640297,80.395310,49.700300,54.713180,0.0,0.008827,2.409323,291.80148,00:00:00
35086,2024-01-01,56.630302,79.403760,50.330300,55.378254,0.0,0.007796,3.861661,259.99210,00:00:00
35087,2024-01-01,56.720300,76.798230,49.520298,55.098610,0.0,0.006096,4.496315,275.71050,00:00:00

In [111]:
mean_copy [mean_copy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,time
1,2020-01-01,54.380302,61.066536,41.240300,50.515940,0.0,0.001316,4.529580,212.90524,00:00:00
2,2020-01-01,57.080300,50.207703,38.720300,53.103203,0.0,0.000875,0.316360,224.99990,00:00:00
3,2020-01-01,50.420300,65.645630,39.350300,46.027035,0.0,0.000634,4.343468,168.11136,00:00:00
4,2020-01-01,53.120300,54.411290,37.100300,49.102360,0.0,0.000436,3.472758,194.93147,00:00:00
5,2020-01-01,51.680300,57.574200,37.190300,47.492620,0.0,0.000494,2.730607,55.00790,00:00:00
...,...,...,...,...,...,...,...,...,...,...
35083,2024-01-01,50.510300,91.647210,48.170300,48.790024,0.0,0.005746,3.202897,282.09473,00:00:00
35084,2024-01-01,53.660300,84.401740,49.070297,52.423836,0.0,0.008103,3.042649,323.97253,00:00:00
35085,2024-01-01,55.640297,80.395310,49.700300,54.713180,0.0,0.008827,2.409323,291.80148,00:00:00
35086,2024-01-01,56.630302,79.403760,50.330300,55.378254,0.0,0.007796,3.861661,259.99210,00:00:00
35087,2024-01-01,56.720300,76.798230,49.520298,55.098610,0.0,0.006096,4.496315,275.71050,00:00:00

In [112]:
min_copy[min_copy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,time,date_time
1,2020-01-01,54.380302,61.066536,41.240300,50.515940,0.0,0.001316,4.529580,212.90524,00:00:00,2020-01-01
2,2020-01-01,57.080300,50.207703,38.720300,53.103203,0.0,0.000875,0.316360,224.99990,00:00:00,2020-01-01
3,2020-01-01,50.420300,65.645630,39.350300,46.027035,0.0,0.000634,4.343468,168.11136,00:00:00,2020-01-01
4,2020-01-01,53.120300,54.411290,37.100300,49.102360,0.0,0.000436,3.472758,194.93147,00:00:00,2020-01-01
5,2020-01-01,51.680300,57.574200,37.190300,47.492620,0.0,0.000494,2.730607,55.00790,00:00:00,2020-01-01
...,...,...,...,...,...,...,...,...,...,...,...
35083,2024-01-01,50.510300,91.647210,48.170300,48.790024,0.0,0.005746,3.202897,282.09473,00:00:00,2024-01-01
35084,2024-01-01,53.660300,84.401740,49.070297,52.423836,0.0,0.008103,3.042649,323.97253,00:00:00,2024-01-01
35085,2024-01-01,55.640297,80.395310,49.700300,54.713180,0.0,0.008827,2.409323,291.80148,00:00:00,2024-01-01
35086,2024-01-01,56.630302,79.403760,50.330300,55.378254,0.0,0.007796,3.861661,259.99210,00:00:00,2024-01-01
35087,2024-01-01,56.720300,76.798230,49.520298,55.098610,0.0,0.006096,4.496315,275.71050,00:00:00,2024-01-01

In [113]:
max_copy[max_copy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,time,date_time
1,2020-01-01,54.380302,61.066536,41.240300,50.515940,0.0,0.001316,4.529580,212.90524,00:00:00,2020-01-01 01:00:00
2,2020-01-01,57.080300,50.207703,38.720300,53.103203,0.0,0.000875,0.316360,224.99990,00:00:00,2020-01-01 02:00:00
3,2020-01-01,50.420300,65.645630,39.350300,46.027035,0.0,0.000634,4.343468,168.11136,00:00:00,2020-01-01 03:00:00
4,2020-01-01,53.120300,54.411290,37.100300,49.102360,0.0,0.000436,3.472758,194.93147,00:00:00,2020-01-01 04:00:00
5,2020-01-01,51.680300,57.574200,37.190300,47.492620,0.0,0.000494,2.730607,55.00790,00:00:00,2020-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...
35083,2024-01-01,50.510300,91.647210,48.170300,48.790024,0.0,0.005746,3.202897,282.09473,00:00:00,2024-01-01 19:00:00
35084,2024-01-01,53.660300,84.401740,49.070297,52.423836,0.0,0.008103,3.042649,323.97253,00:00:00,2024-01-01 20:00:00
35085,2024-01-01,55.640297,80.395310,49.700300,54.713180,0.0,0.008827,2.409323,291.80148,00:00:00,2024-01-01 21:00:00
35086,2024-01-01,56.630302,79.403760,50.330300,55.378254,0.0,0.007796,3.861661,259.99210,00:00:00,2024-01-01 22:00:00
35087,2024-01-01,56.720300,76.798230,49.520298,55.098610,0.0,0.006096,4.496315,275.71050,00:00:00,2024-01-01 23:00:00

In [114]:
std_copy[std_copy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,time,date_time
1,2020-01-01,54.380302,61.066536,41.240300,50.515940,0.0,0.001316,4.529580,212.90524,00:00:00,2020-01-01 01:00:00
2,2020-01-01,57.080300,50.207703,38.720300,53.103203,0.0,0.000875,0.316360,224.99990,00:00:00,2020-01-01 02:00:00
3,2020-01-01,50.420300,65.645630,39.350300,46.027035,0.0,0.000634,4.343468,168.11136,00:00:00,2020-01-01 03:00:00
4,2020-01-01,53.120300,54.411290,37.100300,49.102360,0.0,0.000436,3.472758,194.93147,00:00:00,2020-01-01 04:00:00
5,2020-01-01,51.680300,57.574200,37.190300,47.492620,0.0,0.000494,2.730607,55.00790,00:00:00,2020-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...
35083,2024-01-01,50.510300,91.647210,48.170300,48.790024,0.0,0.005746,3.202897,282.09473,00:00:00,2024-01-01 19:00:00
35084,2024-01-01,53.660300,84.401740,49.070297,52.423836,0.0,0.008103,3.042649,323.97253,00:00:00,2024-01-01 20:00:00
35085,2024-01-01,55.640297,80.395310,49.700300,54.713180,0.0,0.008827,2.409323,291.80148,00:00:00,2024-01-01 21:00:00
35086,2024-01-01,56.630302,79.403760,50.330300,55.378254,0.0,0.007796,3.861661,259.99210,00:00:00,2024-01-01 22:00:00
35087,2024-01-01,56.720300,76.798230,49.520298,55.098610,0.0,0.006096,4.496315,275.71050,00:00:00,2024-01-01 23:00:00

In [115]:
standardized_copy[standardized_copy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m,time,date_time
1,2020-01-01,54.380302,61.066536,41.240300,50.515940,0.0,0.001316,4.529580,212.90524,00:00:00,2020-01-01 01:00:00
2,2020-01-01,57.080300,50.207703,38.720300,53.103203,0.0,0.000875,0.316360,224.99990,00:00:00,2020-01-01 02:00:00
3,2020-01-01,50.420300,65.645630,39.350300,46.027035,0.0,0.000634,4.343468,168.11136,00:00:00,2020-01-01 03:00:00
4,2020-01-01,53.120300,54.411290,37.100300,49.102360,0.0,0.000436,3.472758,194.93147,00:00:00,2020-01-01 04:00:00
5,2020-01-01,51.680300,57.574200,37.190300,47.492620,0.0,0.000494,2.730607,55.00790,00:00:00,2020-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...
35083,2024-01-01,50.510300,91.647210,48.170300,48.790024,0.0,0.005746,3.202897,282.09473,00:00:00,2024-01-01 19:00:00
35084,2024-01-01,53.660300,84.401740,49.070297,52.423836,0.0,0.008103,3.042649,323.97253,00:00:00,2024-01-01 20:00:00
35085,2024-01-01,55.640297,80.395310,49.700300,54.713180,0.0,0.008827,2.409323,291.80148,00:00:00,2024-01-01 21:00:00
35086,2024-01-01,56.630302,79.403760,50.330300,55.378254,0.0,0.007796,3.861661,259.99210,00:00:00,2024-01-01 22:00:00
35087,2024-01-01,56.720300,76.798230,49.520298,55.098610,0.0,0.006096,4.496315,275.71050,00:00:00,2024-01-01 23:00:00

## Change date/time dtype of NASA dataset

    acq_date acq_time
0 2020-01-04      NaT
2 2020-01-05      NaT
3 2020-01-06      NaT
5 2020-01-07      NaT
9 2020-01-12      NaT
         date      time
0  2020-01-01  00:00:00
1  2020-01-01  00:00:00
2  2020-01-01  00:00:00
3  2020-01-01  00:00:00
4  2020-01-01  00:00:00

In [174]:
# Step 1: Convert date columns to consistent format
weather['date'] = pd.to_datetime(weather['date'])
nasa['acq_date'] = pd.to_datetime(nasa['acq_date'], format='%m/%d/%y')

# Step 2: Convert time column to match weather format
nasa['acq_time'] = nasa['acq_time'].astype(str).str.zfill(4)  # Ensure leading zeros for hours < 10
nasa['acq_time'] = pd.to_datetime(nasa['acq_time'], format='%H%M').dt.time

# Step 3: Create new columns for date and time components
weather['time'] = weather['date'].dt.time
weather['date'] = weather['date'].dt.date

ValueError: time data "0NaT" doesn't match format "%H%M", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [153]:
# Step 1: Convert 'acq_date' to datetime type
nasa['acq_date'] = pd.to_datetime(nasa['acq_date'], format='%m/%d/%y', errors='coerce')

# Step 2: Convert 'acq_time' to string format and ensure it has leading zeros if needed
nasa['acq_time'] = nasa['acq_time'].astype(str).str.zfill(4)  # Ensure 4-digit time (e.g., '0730', '1230')

# Step 3: Convert 'acq_time' to datetime (extracting only the time part)
nasa['acq_time'] = pd.to_datetime(nasa['acq_time'], format='%H%M', errors='coerce').dt.time

# Optional: Check if there are any invalid times left
print(nasa['acq_time'].isnull().sum())  # To check how many NaT values are there

0

In [154]:
# Step 1: Convert date columns to consistent format
min_copy['date'] = pd.to_datetime(min_copy['date'])
max_copy['date'] = pd.to_datetime(max_copy['date'])
std_copy['date'] = pd.to_datetime(std_copy['date'])
standardized_copy['date'] = pd.to_datetime(standardized_copy['date'])
mastercopy['date'] = pd.to_datetime(mastercopy['date'])
nasa['acq_date'] = pd.to_datetime(nasa['acq_date'], format='%m/%d/%y')

# Step 2: Convert time column to match weather format
nasa['acq_time'] = nasa['acq_time'].astype(str).str.zfill(4)  # Ensure leading zeros for hours < 10
nasa['acq_time'] = nasa['acq_time'].str.extract(r'(\d{4})')  # Extract valid 4-digit time strings
nasa['acq_time'] = pd.to_datetime(nasa['acq_time'], format='%H%M', errors='coerce').dt.time 

# Step 2: Ensure acq_time is consistent
nasa['acq_time'] = nasa['acq_time'].fillna('0000')  # Fill missing values
nasa['acq_time'] = nasa['acq_time'].astype(str).str.zfill(4)  # Ensure 4-digit format
nasa['acq_time'] = pd.to_datetime(nasa['acq_time'], format='%H%M', errors='coerce').dt.time

# Step 3: Verify the conversion
print(nasa[['acq_date', 'acq_time']].head())  # Check the output
print(nasa['acq_time'].isna().sum())  # Ensure no NaT values remain


# Step 3: Create new columns for date and time components
min_copy['time'] = min_copy['date'].dt.time
min_copy['date'] = min_copy['date'].dt.date

max_copy['time'] = max_copy['date'].dt.time
max_copy['date'] = max_copy['date'].dt.date

std_copy['time'] = std_copy['date'].dt.time
std_copy['date'] = std_copy['date'].dt.date

standardized_copy['time'] = standardized_copy['date'].dt.time
standardized_copy['date'] = standardized_copy['date'].dt.date

mastercopy['time'] = mastercopy['date'].dt.time
mastercopy['date'] = mastercopy['date'].dt.date

Empty DataFrame
Columns: [acq_date, acq_time]
Index: []
0

In [122]:
# Moving the time column to the front for ease of visualization
for df in [min_copy, max_copy, std_copy, standardized_copy, mastercopy]:
    col = df.columns.to_list()
    col.remove('time')
    col.insert(1, 'time')
    df = df[col]
    df.head()  # To display the updated DataFrame (optional)

In [123]:
nasa.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,37.45576,-121.93266,298.7,0.38,0.58,2020-01-04,00:00:00,1,VIIRS,n,2.0NRT,276.9,0.2,N
2,37.31704,-122.09343,301.3,0.42,0.45,2020-01-05,00:00:00,1,VIIRS,n,2.0NRT,280.6,0.9,N
3,37.31878,-122.09222,296.0,0.41,0.37,2020-01-06,00:00:00,1,VIIRS,n,2.0NRT,280.0,0.8,N
5,37.18483,-121.67795,296.7,0.41,0.37,2020-01-07,00:00:00,1,VIIRS,n,2.0NRT,276.9,0.8,N
9,37.31736,-122.08982,302.0,0.39,0.36,2020-01-12,00:00:00,1,VIIRS,n,2.0NRT,274.3,0.5,N

In [57]:
## Round off NASA time to nearest hour

In [87]:
nasa['acq_time'] = pd.to_datetime(nasa['acq_time'], format='%H:%M:%S')

# Round to the nearest hour
nasa['round_time'] = nasa['acq_time'].dt.round('h')

# Convert back to time format (HH:MM:SS) 
nasa['round_time'] = nasa['round_time'].dt.time
nasa['acq_time'] = nasa['acq_time'].dt.time

## Merge both sets and get training data

In [60]:
min_copy.shape, nasa.shape

((35088, 10), (999, 15))

In [61]:
max_copy.shape, nasa.shape

((35088, 10), (999, 15))

In [62]:
mean_copy.shape, nasa.shape

((35088, 10), (999, 15))

In [63]:
std_copy.shape, nasa.shape

((35088, 10), (999, 15))

In [64]:
mastercopy.shape, nasa.shape

((35088, 10), (999, 15))

In [65]:
standardized_copy.shape, nasa.shape

((35088, 10), (999, 15))

In [88]:
# Ensure 'date_time' exists in 'nasa'
nasa['date_time'] = pd.to_datetime(nasa['acq_date'].astype(str) + ' ' + nasa['round_time'].astype(str))

# Function to safely create 'date_time' for each dataset
def prepare_and_merge(nasa, df):
    df = df.dropna(subset=['date', 'time'])  # Drop rows with missing date or time
    df['date_time'] = pd.to_datetime(df['date'].astype(str) + ' ' + df['time'].astype(str), errors='coerce')
    df = df.dropna(subset=['date_time'])  # Drop rows where 'date_time' could not be created
    return pd.merge(nasa, df, on='date_time', how='inner')

# Merging each dataset with 'nasa' and storing in separate variables
positive_min = prepare_and_merge(nasa, min_copy)
positive_max = prepare_and_merge(nasa, max_copy)
positive_std = prepare_and_merge(nasa, std_copy)
positive_mean = prepare_and_merge(nasa, mean_copy)
positive_standardized = prepare_and_merge(nasa, standardized_copy)

In [91]:
print(nasa['date_time'].head())
print(min_copy['date_time'].head())

Series([], Name: date_time, dtype: datetime64[ns])
0   2020-01-01 00:00:00
1   2020-01-01 01:00:00
2   2020-01-01 02:00:00
3   2020-01-01 03:00:00
4   2020-01-01 04:00:00
Name: date_time, dtype: datetime64[ns]

In [92]:
print(set(nasa['date_time']).intersection(set(min_copy['date_time'])))

set()

In [93]:
print(nasa[['acq_date', 'acq_time']].isnull().sum())
print(min_copy[['date', 'time']].isnull().sum())

acq_date    0
acq_time    0
dtype: int64
date    0
time    0
dtype: int64

In [94]:
print(nasa.head())
print(min_copy.head())

Empty DataFrame
Columns: [latitude, longitude, brightness, scan, track, acq_date, acq_time, satellite, instrument, confidence, version, bright_t31, frp, daynight, round_time, date_time]
Index: []
         date  temperature_2m  relative_humidity_2m  dew_point_2m  \
0  2020-01-01       58.700300             62.268870       45.8303
1  2020-01-01       54.380302             61.066536       41.2403
2  2020-01-01       57.080300             50.207703       38.7203
3  2020-01-01       50.420300             65.645630       39.3503
4  2020-01-01       53.120300             54.411290       37.1003

   apparent_temperature  precipitation  et0_fao_evapotranspiration  \
0             55.678288            0.0                    0.004173
1             50.515940            0.0                    0.001316
2             53.103203            0.0                    0.000875
3             46.027035            0.0                    0.000634
4             49.102360            0.0                    0.000436

   wind_speed_100m  wind_direction_100m      time           date_time
0         6.215479            239.74365  00:00:00 2020-01-01 00:00:00
1         4.529580            212.90524  00:00:00 2020-01-01 01:00:00
2         0.316360            224.99990  00:00:00 2020-01-01 02:00:00
3         4.343468            168.11136  00:00:00 2020-01-01 03:00:00
4         3.472758            194.93147  00:00:00 2020-01-01 04:00:00

In [95]:
positive_min.tail

<bound method NDFrame.tail of Empty DataFrame
Columns: [latitude, longitude, brightness, scan, track, acq_date, acq_time, satellite, instrument, confidence, version, bright_t31, frp, daynight, round_time, date_time, date, temperature_2m, relative_humidity_2m, dew_point_2m, apparent_temperature, precipitation, et0_fao_evapotranspiration, wind_speed_100m, wind_direction_100m, time]
Index: []

[0 rows x 26 columns]>

In [97]:
positive.tail()

Empty DataFrame
Columns: [latitude, longitude, brightness, scan, track, acq_date, acq_time, satellite, instrument, confidence, version, bright_t31, frp, daynight, round_time, date_time, date, temperature_2m, relative_humidity_2m, dew_point_2m, apparent_temperature, precipitation, et0_fao_evapotranspiration, wind_speed_100m, wind_direction_100m, time]
Index: []

[0 rows x 26 columns]

In [98]:
nasa['date_time'] = pd.to_datetime(nasa['acq_date'].astype(str) + ' ' + nasa['round_time'].astype(str))
min_copy['date_time'] = pd.to_datetime(min_copy['date'].astype(str) + ' ' +min_copy['time'].astype(str))

# Merging on date_time to get positive samples
positive = pd.merge(nasa, min_copy, on='date_time', how='inner')

In [101]:
print(nasa['date_time'].head(10))  # Check 'nasa' date_time values
print(min_copy['date_time'].head(10))  # Check 'min_copy' date_time values

Series([], Name: date_time, dtype: datetime64[ns])
0   2020-01-01
1   2020-01-01
2   2020-01-01
3   2020-01-01
4   2020-01-01
5   2020-01-01
6   2020-01-01
7   2020-01-01
8   2020-01-01
9   2020-01-01
Name: date_time, dtype: datetime64[ns]

In [102]:
print(f"NASA Date Range: {nasa['date_time'].min()} to {nasa['date_time'].max()}")
print(f"Min Copy Date Range: {min_copy['date_time'].min()} to {min_copy['date_time'].max()}")

NASA Date Range: NaT to NaT
Min Copy Date Range: 2020-01-01 00:00:00 to 2024-01-01 00:00:00

In [103]:
print(nasa[['acq_date', 'acq_time']].head(10))
print(nasa[['acq_date', 'acq_time']].isnull().sum())

Empty DataFrame
Columns: [acq_date, acq_time]
Index: []
acq_date    0
acq_time    0
dtype: int64

In [104]:
print(nasa.shape)  # Check the dimensions of the dataframe
print(nasa.head())  # Display the first few rows

(0, 16)
Empty DataFrame
Columns: [latitude, longitude, brightness, scan, track, acq_date, acq_time, satellite, instrument, confidence, version, bright_t31, frp, daynight, round_time, date_time]
Index: []