In [84]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [85]:
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\hourly_weather_data.csv')
nasa = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\Wildfire_Data_2020-2023.csv')

weather.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
0,2020-01-01 00:00:00+00:00,58.700300,62.268870,45.8303,55.678288,0.0,0.004173,6.215479,239.74365
1,2020-01-01 01:00:00+00:00,54.380302,61.066536,41.2403,50.515940,0.0,0.001316,4.529580,212.90524
2,2020-01-01 02:00:00+00:00,57.080300,50.207703,38.7203,53.103203,0.0,0.000875,0.316360,224.99990
3,2020-01-01 03:00:00+00:00,50.420300,65.645630,39.3503,46.027035,0.0,0.000634,4.343468,168.11136
4,2020-01-01 04:00:00+00:00,53.120300,54.411290,37.1003,49.102360,0.0,0.000436,3.472758,194.93147

In [86]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
nasa = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\Wildfire_Data_2020-2023.csv')
nasa.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,37.45576,-121.93266,298.7,0.38,0.58,1/4/20,1042,1,VIIRS,n,2.0NRT,276.9,0.2,N
1,37.31750,-122.09219,295.9,0.37,0.58,1/4/20,1042,1,VIIRS,n,2.0NRT,280.4,0.5,N
2,37.31704,-122.09343,301.3,0.42,0.45,1/5/20,1024,1,VIIRS,n,2.0NRT,280.6,0.9,N
3,37.31878,-122.09222,296.0,0.41,0.37,1/6/20,1006,1,VIIRS,n,2.0NRT,280.0,0.8,N
4,37.45645,-121.93143,305.3,0.41,0.37,1/6/20,1006,1,VIIRS,n,2.0NRT,276.6,0.9,N

In [87]:
import pandas as pd
import numpy as np
from IPython.display import display

# Load the original dataset
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\hourly_weather_data.csv')

# Make a copy of the original DataFrame
mastercopy = weather.copy()  # Changed the copy name to 'mastercopy'

# Define the number of NaN values to insert
num_nan_values = 50

# Insert random NaN values into the copy
for _ in range(num_nan_values):
    row_idx = np.random.choice(mastercopy.index)  # Randomly select a row index
    col_idx = np.random.choice(mastercopy.columns)  # Randomly select a column
    mastercopy.loc[row_idx, col_idx] = np.nan  # Set the selected cell to NaN

# Verify the NaN insertion by checking NaN counts
nan_counts = mastercopy.isna().sum()
print("NaN values per column:")
print(nan_counts)

# Display more rows if necessary to spot NaNs
print("\nDisplaying more rows to observe NaN values:")
display(mastercopy.head(20))  # Increase the row count displayed to 20

# Optionally, filter and display only rows with at least one NaN
print("\nRows with at least one NaN value:")
display(mastercopy[mastercopy.isna().any(axis=1)])

# Save the mastercopy DataFrame to an Excel file
output_path_excel = r'C:\Users\HP\OneDrive\Documents\data_science_project\mastercopy_with_nans.xlsx'
mastercopy.to_excel(output_path_excel, index=False)

# Save the mastercopy DataFrame to a CSV file
output_path_csv = r'C:\Users\HP\OneDrive\Documents\data_science_project\mastercopy_with_nans.csv'
mastercopy.to_csv(output_path_csv, index=False)

print(f"\nPhysical copy of the data with NaNs has been saved to Excel: {output_path_excel}")
print(f"Physical copy of the data with NaNs has been saved to CSV: {output_path_csv}")

NaN values per column:
date                           6
temperature_2m                10
relative_humidity_2m           5
dew_point_2m                   4
apparent_temperature           5
precipitation                  7
et0_fao_evapotranspiration     6
wind_speed_100m                3
wind_direction_100m            4
dtype: int64

Displaying more rows to observe NaN values:

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
0,2020-01-01 00:00:00+00:00,58.700300,62.268870,45.8303,55.678288,0.0,0.004173,6.215479,239.743650
1,2020-01-01 01:00:00+00:00,54.380302,61.066536,41.2403,50.515940,0.0,0.001316,4.529580,212.905240
2,2020-01-01 02:00:00+00:00,57.080300,50.207703,38.7203,53.103203,0.0,0.000875,0.316360,224.999900
3,2020-01-01 03:00:00+00:00,50.420300,65.645630,39.3503,46.027035,0.0,0.000634,4.343468,168.111360
4,2020-01-01 04:00:00+00:00,53.120300,54.411290,37.1003,49.102360,0.0,0.000436,3.472758,194.931470
5,2020-01-01 05:00:00+00:00,51.680300,57.574200,37.1903,47.492620,0.0,0.000494,2.730607,55.007900
6,2020-01-01 06:00:00+00:00,52.850300,53.604927,36.4703,48.882390,0.0,0.000297,1.140651,101.309900
7,2020-01-01 07:00:00+00:00,52.400300,53.538017,36.0203,48.481415,0.0,0.000169,1.304384,239.036300
8,2020-01-01 08:00:00+00:00,44.390300,71.234580,35.6603,38.658460,0.0,0.000617,6.487300,180.000000
9,2020-01-01 09:00:00+00:00,46.910300,62.475174,34.7603,41.930405,0.0,0.000538,5.524983,158.629320
10,2020-01-01 10:00:00+00:00,49.790300,55.689068,34.5803,46.100227,0.0,0.000000,2.122205,341.564940
11,2020-01-01 11:00:00+00:00,44.120300,68.702805,34.4903,38.678020,0.0,0.000508,3.257121,164.054530
12,2020-01-01 12:00:00+00:00,43.940300,71.696070,35.3903,39.021810,0.0,0.000244,6.491156,178.025120
13,2020-01-01 13:00:00+00:00,43.490300,75.049570,36.1103,38.606384,0.0,0.000176,6.231560,158.962420
14,2020-01-01 14:00:00+00:00,44.930298,74.394580,37.2803,40.639053,0.0,0.000046,7.024322,142.765090
15,2020-01-01 15:00:00+00:00,44.390300,80.067510,38.6303,40.134470,0.0,0.000000,5.188683,7.431319
16,2020-01-01 16:00:00+00:00,45.380300,77.110120,38.6303,40.553760,0.0,0.000880,4.106586,150.642350
17,2020-01-01 17:00:00+00:00,48.980300,73.755875,40.9703,44.796505,0.0,0.002133,5.534032,165.963730
18,2020-01-01 18:00:00+00:00,52.940300,67.805260,42.5903,50.460690,0.0,0.004531,2.000834,206.564990
19,2020-01-01 19:00:00+00:00,55.190300,73.612710,46.9103,53.149000,0.0,0.005853,3.802900,360.000000

Rows with at least one NaN value:

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
812,2020-02-03 20:00:00+00:00,NaN,36.588356,25.400300,42.250366,0.000000,0.011535,14.085998,327.319460
981,2020-02-10 21:00:00+00:00,65.000300,NaN,32.510300,59.801310,0.000000,0.016098,7.569527,325.840240
2647,2020-04-20 07:00:00+00:00,53.930300,76.290270,46.640297,NaN,0.000000,0.000386,7.286579,342.121220
2725,2020-04-23 13:00:00+00:00,55.100300,95.826035,53.930300,NaN,0.000000,0.000000,5.410581,330.255220
4206,2020-06-24 06:00:00+00:00,64.730300,73.568184,56.090298,65.510010,0.000000,0.000095,NaN,4.398633
4469,2020-07-05 05:00:00+00:00,72.380300,41.141777,NaN,70.080864,0.000000,0.001989,4.839371,326.309900
4750,2020-07-16 22:00:00+00:00,NaN,37.919964,53.930300,80.581500,0.000000,0.027440,16.408054,348.996500
5239,2020-08-06 07:00:00+00:00,NaN,77.414635,53.750298,60.673935,0.000000,0.000043,4.611693,292.833680
5391,NaN,57.980300,96.814740,57.080300,59.890940,0.000000,0.002244,0.707402,251.564960
6745,2020-10-08 01:00:00+00:00,66.170300,56.848103,50.420300,63.474830,NaN,0.005224,8.634936,343.442840
6902,2020-10-14 14:00:00+00:00,60.860300,NaN,50.510300,59.164430,0.000000,0.000689,7.569527,251.029500
7049,2020-10-20 17:00:00+00:00,62.390297,73.098980,53.660300,62.299034,0.000000,0.007226,NaN,246.801380
7408,2020-11-04 16:00:00+00:00,53.570297,69.533740,43.850300,50.427440,0.000000,0.002066,2.684400,NaN
8606,2020-12-24 14:00:00+00:00,38.720300,87.087410,NaN,33.953133,0.000000,0.000000,2.062412,282.528800
9173,2021-01-17 05:00:00+00:00,NaN,81.213370,50.060303,54.969353,0.000000,0.000000,4.220763,212.005340
9507,2021-01-31 03:00:00+00:00,53.840298,56.472540,38.720300,50.241447,0.000000,0.000288,2.702977,NaN
11671,2021-05-01 07:00:00+00:00,52.490300,86.341980,48.530300,51.179558,0.000000,NaN,3.042649,342.897200
12789,2021-06-16 21:00:00+00:00,89.480300,NaN,42.320300,84.842630,0.000000,0.029191,14.149799,309.225650
14438,2021-08-24 14:00:00+00:00,59.240300,77.788940,52.310303,58.005630,0.000000,NaN,7.020760,157.520520
14528,2021-08-28 08:00:00+00:00,70.760300,55.077940,53.840298,71.479430,0.000000,NaN,2.942314,171.253920
15058,2021-09-19 10:00:00+00:00,64.820300,72.387630,NaN,64.826790,0.000000,0.000559,7.303728,139.969800
19367,2022-03-17 23:00:00+00:00,NaN,38.794422,38.900300,57.659065,0.000000,0.015853,15.206665,333.811950
19479,2022-03-22 15:00:00+00:00,53.930300,75.260460,46.280300,50.958130,0.000000,0.001091,7.006489,NaN
19627,2022-03-28 19:00:00+00:00,58.340298,69.354034,48.350300,57.786644,0.011811,0.013477,3.822587,NaN
20032,2022-04-14 16:00:00+00:00,NaN,68.378680,43.670300,48.799934,0.007874,0.003280,10.970427,129.207200
20718,2022-05-13 06:00:00+00:00,52.220300,73.316970,43.940300,NaN,0.000000,0.000469,8.081115,318.366550
21257,2022-06-04 17:00:00+00:00,62.570300,NaN,49.520298,61.611810,0.000000,0.008498,2.013300,360.000000
21429,2022-06-11 21:00:00+00:00,NaN,35.685580,56.000298,85.826240,0.000000,0.031148,17.500147,327.528840
21622,NaN,82.730300,19.212175,36.560300,77.598250,0.000000,0.030203,15.363810,317.950870
22271,NaN,82.730300,34.436040,51.860302,80.243610,0.000000,0.026115,16.342354,340.820900
22955,2022-08-14 11:00:00+00:00,59.690300,78.861850,NaN,59.988020,0.000000,0.000000,4.343468,101.888630
23422,2022-09-02 22:00:00+00:00,80.390300,35.942640,50.960300,79.021240,NaN,0.024640,12.908866,332.102800
23462,NaN,58.430300,88.967390,55.190300,59.384747,0.000000,0.000513,2.122205,251.564960
24202,2022-10-05 10:00:00+00:00,56.360302,91.247154,53.840298,56.500490,NaN,0.000000,2.550572,127.875046
25000,2022-11-07 16:00:00+00:00,52.760300,77.493650,45.920300,50.260914,0.003937,NaN,5.910085,119.475800
26574,2023-01-12 06:00:00+00:00,NaN,82.044500,50.510300,51.393623,0.000000,0.000881,19.422003,122.774870
27987,2023-03-12 03:00:00+00:00,56.900300,88.606020,53.570297,56.868170,0.000000,NaN,4.106586,119.357666
29731,2023-05-23 19:00:00+00:00,66.890300,48.465250,46.820297,63.860490,0.000000,NaN,12.930170,149.886350
30772,NaN,61.940300,74.758410,53.840298,58.772297,0.000000,0.002194,14.121478,356.367130
30942,2023-07-13 06:00:00+00:00,63.740300,66.126015,52.220300,62.513725,NaN,0.000890,6.405793,347.905270
31283,2023-07-27 11:00:00+00:00,NaN,86.431854,55.280300,60.405260,0.000000,0.000000,1.360714,9.462248
31577,2023-08-08 17:00:00+00:00,72.740295,50.833023,53.480300,NaN,0.000000,0.014718,5.461213,145.007900
32142,2023-09-01 06:00:00+00:00,68.060295,62.625305,54.830300,68.054634,NaN,0.000817,5.101145,142.124950
33816,2023-11-10 00:00:00+00:00,63.020300,44.358395,40.970300,NaN,0.000000,0.005589,10.655730,309.035500
34160,NaN,46.010300,86.572150,42.230300,42.044662,0.000000,0.000000,8.541709,315.000100
34443,2023-12-06 03:00:00+00:00,NaN,89.461880,53.300300,56.116093,0.000000,0.000000,3.702894,154.983140
34557,2023-12-10 21:00:00+00:00,52.580300,63.877277,40.700302,49.353638,NaN,0.008332,2.802953,298.610350
34729,2023-12-18 01:00:00+00:00,56.720300,NaN,53.750298,56.659410,0.259843,0.000859,2.335497,73.300674
34821,2023-12-21 21:00:00+00:00,59.150300,77.524030,52.130302,57.860424,0.000000,0.005864,NaN,236.976120
35074,2024-01-01 10:00:00+00:00,48.350300,96.680270,47.450300,47.106865,NaN,0.000000,3.472758,255.068530

Physical copy of the data with NaNs has been saved to Excel: C:\Users\HP\OneDrive\Documents\data_science_project\mastercopy_with_nans.xlsx
Physical copy of the data with NaNs has been saved to CSV: C:\Users\HP\OneDrive\Documents\data_science_project\mastercopy_with_nans.csv

In [88]:
# Encoding
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load the dataset (working on mastercopy now)
mastercopy = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\mastercopy_with_nans.csv')

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Loop through all columns to apply label encoding to categorical columns
for column in mastercopy.columns:
    if mastercopy[column].dtype == 'object':  # Check if the column is categorical (strings)
        # Apply Label Encoding
        mastercopy[column] = label_encoder.fit_transform(mastercopy[column].astype(str))

# Display the transformed DataFrame with label encoding applied
print("Data after Label Encoding:")
print(mastercopy.head(15))  # Display the first 15 rows to check the encoding

Data after Label Encoding:
    date  temperature_2m  relative_humidity_2m  dew_point_2m  \
0      0       58.700300             62.268870       45.8303
1      1       54.380302             61.066536       41.2403
2      2       57.080300             50.207703       38.7203
3      3       50.420300             65.645630       39.3503
4      4       53.120300             54.411290       37.1003
5      5       51.680300             57.574200       37.1903
6      6       52.850300             53.604927       36.4703
7      7       52.400300             53.538017       36.0203
8      8       44.390300             71.234580       35.6603
9      9       46.910300             62.475174       34.7603
10    10       49.790300             55.689068       34.5803
11    11       44.120300             68.702805       34.4903
12    12       43.940300             71.696070       35.3903
13    13       43.490300             75.049570       36.1103
14    14       44.930298             74.394580       37.2803

    apparent_temperature  precipitation  et0_fao_evapotranspiration  \
0              55.678288            0.0                    0.004173
1              50.515940            0.0                    0.001316
2              53.103203            0.0                    0.000875
3              46.027035            0.0                    0.000634
4              49.102360            0.0                    0.000436
5              47.492620            0.0                    0.000494
6              48.882390            0.0                    0.000297
7              48.481415            0.0                    0.000169
8              38.658460            0.0                    0.000617
9              41.930405            0.0                    0.000538
10             46.100227            0.0                    0.000000
11             38.678020            0.0                    0.000508
12             39.021810            0.0                    0.000244
13             38.606384            0.0                    0.000176
14             40.639053            0.0                    0.000046

    wind_speed_100m  wind_direction_100m
0          6.215479            239.74365
1          4.529580            212.90524
2          0.316360            224.99990
3          4.343468            168.11136
4          3.472758            194.93147
5          2.730607             55.00790
6          1.140651            101.30990
7          1.304384            239.03630
8          6.487300            180.00000
9          5.524983            158.62932
10         2.122205            341.56494
11         3.257121            164.05453
12         6.491156            178.02512
13         6.231560            158.96242
14         7.024322            142.76509

In [89]:
import pandas as pd
import numpy as np

# Load the dataset
mastercopy = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\mastercopy_with_nans.csv')

# Create a copy named 'mean'
mean_copy = mastercopy.copy()

# Loop through all columns and replace NaNs with the mean of the column
for column in mean_copy.columns:
    if mean_copy[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        if mean_copy[column].isna().sum() > 0:  # Check if the column contains NaN values
            mean_val = mean_copy[column].mean()  # Calculate the mean of the column
            mean_copy[column] = mean_copy[column].fillna(mean_val)  # Replace NaNs with the mean

# Display the columns after replacing NaNs
print("Data after replacing NaNs with mean in 'mean' copy:")
print(mean_copy.head(15))  # Display the first 15 rows to check the changes

# Save the 'mean' copy DataFrame to an Excel file
output_path_mean = r'C:\Users\HP\OneDrive\Documents\data_science_project\mean_copy_with_nans_replaced.xlsx'
mean_copy.to_excel(output_path_mean, index=False)

# Save the 'mean' copy DataFrame to a CSV file
output_path_mean_csv = r'C:\Users\HP\OneDrive\Documents\data_science_project\mean_copy_with_nans_replaced.csv'
mean_copy.to_csv(output_path_mean_csv, index=False)

print(f"\nThe updated 'mean' dataset has been saved to: {output_path_mean}")
print(f"\nThe updated 'mean' dataset has been saved to: {output_path_mean_csv}")

Data after replacing NaNs with mean in 'mean' copy:
                         date  temperature_2m  relative_humidity_2m  \
0   2020-01-01 00:00:00+00:00       58.700300             62.268870
1   2020-01-01 01:00:00+00:00       54.380302             61.066536
2   2020-01-01 02:00:00+00:00       57.080300             50.207703
3   2020-01-01 03:00:00+00:00       50.420300             65.645630
4   2020-01-01 04:00:00+00:00       53.120300             54.411290
5   2020-01-01 05:00:00+00:00       51.680300             57.574200
6   2020-01-01 06:00:00+00:00       52.850300             53.604927
7   2020-01-01 07:00:00+00:00       52.400300             53.538017
8   2020-01-01 08:00:00+00:00       44.390300             71.234580
9   2020-01-01 09:00:00+00:00       46.910300             62.475174
10  2020-01-01 10:00:00+00:00       49.790300             55.689068
11  2020-01-01 11:00:00+00:00       44.120300             68.702805
12  2020-01-01 12:00:00+00:00       43.940300             71.696070
13  2020-01-01 13:00:00+00:00       43.490300             75.049570
14  2020-01-01 14:00:00+00:00       44.930298             74.394580

    dew_point_2m  apparent_temperature  precipitation  \
0        45.8303             55.678288            0.0
1        41.2403             50.515940            0.0
2        38.7203             53.103203            0.0
3        39.3503             46.027035            0.0
4        37.1003             49.102360            0.0
5        37.1903             47.492620            0.0
6        36.4703             48.882390            0.0
7        36.0203             48.481415            0.0
8        35.6603             38.658460            0.0
9        34.7603             41.930405            0.0
10       34.5803             46.100227            0.0
11       34.4903             38.678020            0.0
12       35.3903             39.021810            0.0
13       36.1103             38.606384            0.0
14       37.2803             40.639053            0.0

    et0_fao_evapotranspiration  wind_speed_100m  wind_direction_100m
0                     0.004173         6.215479            239.74365
1                     0.001316         4.529580            212.90524
2                     0.000875         0.316360            224.99990
3                     0.000634         4.343468            168.11136
4                     0.000436         3.472758            194.93147
5                     0.000494         2.730607             55.00790
6                     0.000297         1.140651            101.30990
7                     0.000169         1.304384            239.03630
8                     0.000617         6.487300            180.00000
9                     0.000538         5.524983            158.62932
10                    0.000000         2.122205            341.56494
11                    0.000508         3.257121            164.05453
12                    0.000244         6.491156            178.02512
13                    0.000176         6.231560            158.96242
14                    0.000046         7.024322            142.76509

The updated 'mean' dataset has been saved to: C:\Users\HP\OneDrive\Documents\data_science_project\mean_copy_with_nans_replaced.xlsx

The updated 'mean' dataset has been saved to: C:\Users\HP\OneDrive\Documents\data_science_project\mean_copy_with_nans_replaced.csv

In [90]:
#min
import pandas as pd
import numpy as np

# Load the dataset
mastercopy = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\mastercopy_with_nans.csv')

# Create a copy for min replacement
min_copy = mastercopy.copy()

# Replace NaN values with the minimum value of each column
for column in min_copy.columns:
    if min_copy[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        if min_copy[column].isna().sum() > 0:  # Check if the column contains NaN values
            min_val = min_copy[column].min()  # Calculate the minimum of the column
            min_copy[column] = min_copy[column].fillna(min_val)  # Replace NaNs with the minimum

# Save the 'min' copy DataFrame to an Excel file
output_path_min = r'C:\Users\HP\OneDrive\Documents\data_science_project\min_copy_with_nans_replaced.xlsx'
min_copy.to_excel(output_path_min, index=False)

print(f"\nThe 'min' copy dataset has been saved to: {output_path_min}")

The 'min' copy dataset has been saved to: C:\Users\HP\OneDrive\Documents\data_science_project\min_copy_with_nans_replaced.xlsx

In [91]:
#max
import pandas as pd
import numpy as np

# Load the dataset
mastercopy = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\mastercopy_with_nans.csv')

# Create a copy for max replacement
max_copy = mastercopy.copy()

# Replace NaN values with the maximum value of each column
for column in max_copy.columns:
    if max_copy[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        if max_copy[column].isna().sum() > 0:  # Check if the column contains NaN values
            max_val = max_copy[column].max()  # Calculate the maximum of the column
            max_copy[column] = max_copy[column].fillna(max_val)  # Replace NaNs with the maximum

# Save the 'max' copy DataFrame to an Excel file
output_path_max = r'C:\Users\HP\OneDrive\Documents\data_science_project\max_copy_with_nans_replaced.xlsx'
max_copy.to_excel(output_path_max, index=False)

print(f"\nThe 'max' copy dataset has been saved to: {output_path_max}")

The 'max' copy dataset has been saved to: C:\Users\HP\OneDrive\Documents\data_science_project\max_copy_with_nans_replaced.xlsx

In [92]:
#Standard Deviation
import pandas as pd
import numpy as np

# Load the dataset
mastercopy = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\mastercopy_with_nans.csv')

# Create a copy for std (standard deviation) replacement
std_copy = mastercopy.copy()

# Replace NaN values with the standard deviation of each column
for column in std_copy.columns:
    if std_copy[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        if std_copy[column].isna().sum() > 0:  # Check if the column contains NaN values
            std_val = std_copy[column].std()  # Calculate the standard deviation of the column
            std_copy[column] = std_copy[column].fillna(std_val)  # Replace NaNs with the standard deviation

# Save the 'std' copy DataFrame to an Excel file
output_path_std = r'C:\Users\HP\OneDrive\Documents\data_science_project\std_copy_with_nans_replaced.xlsx'
std_copy.to_excel(output_path_std, index=False)

print(f"\nThe 'std' copy dataset has been saved to: {output_path_std}")

The 'std' copy dataset has been saved to: C:\Users\HP\OneDrive\Documents\data_science_project\std_copy_with_nans_replaced.xlsx

In [93]:
#Standardized Values 
import pandas as pd
import numpy as np

# Load the dataset
mastercopy = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\mastercopy_with_nans.csv')

# Create a copy for standardization
standardized_copy = mastercopy.copy()

# Replace NaN values with standardized values (Z-score)
for column in standardized_copy.columns:
    if standardized_copy[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        if standardized_copy[column].isna().sum() > 0:  # Check if the column contains NaN values
            mean_val = standardized_copy[column].mean()  # Mean of the column
            std_val = standardized_copy[column].std()  # Standard deviation of the column
            # Standardize by replacing NaNs with (value - mean) / std
            standardized_copy[column] = standardized_copy[column].fillna((mean_val - mean_val) / std_val)

# Save the 'standardized' copy DataFrame to an Excel file
output_path_standardized = r'C:\Users\HP\OneDrive\Documents\data_science_project\standardized_copy_with_nans_replaced.xlsx'
standardized_copy.to_excel(output_path_standardized, index=False)

print(f"\nThe 'standardized' copy dataset has been saved to: {output_path_standardized}")

The 'standardized' copy dataset has been saved to: C:\Users\HP\OneDrive\Documents\data_science_project\standardized_copy_with_nans_replaced.xlsx

In [94]:
from datetime import datetime, timedelta
import pandas as pd
import matplotlib.pyplot as plt

In [95]:
weather = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\hourly_weather_data.csv')
nasa = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\data_science_project\Wildfire_Data_2020-2023.csv')

In [96]:
mastercopy[mastercopy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
21622,NaN,82.7303,19.212175,36.560300,77.598250,0.0,0.030203,15.363810,317.95087
22271,NaN,82.7303,34.436040,51.860302,80.243610,0.0,0.026115,16.342354,340.82090
23462,NaN,58.4303,88.967390,55.190300,59.384747,0.0,0.000513,2.122205,251.56496
30772,NaN,61.9403,74.758410,53.840298,58.772297,0.0,0.002194,14.121478,356.36713
34160,NaN,46.0103,86.572150,42.230300,42.044662,0.0,0.000000,8.541709,315.00010

In [97]:
mean_copy [mean_copy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
21622,NaN,82.7303,19.212175,36.560300,77.598250,0.0,0.030203,15.363810,317.95087
22271,NaN,82.7303,34.436040,51.860302,80.243610,0.0,0.026115,16.342354,340.82090
23462,NaN,58.4303,88.967390,55.190300,59.384747,0.0,0.000513,2.122205,251.56496
30772,NaN,61.9403,74.758410,53.840298,58.772297,0.0,0.002194,14.121478,356.36713
34160,NaN,46.0103,86.572150,42.230300,42.044662,0.0,0.000000,8.541709,315.00010

In [98]:
min_copy[min_copy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
21622,NaN,82.7303,19.212175,36.560300,77.598250,0.0,0.030203,15.363810,317.95087
22271,NaN,82.7303,34.436040,51.860302,80.243610,0.0,0.026115,16.342354,340.82090
23462,NaN,58.4303,88.967390,55.190300,59.384747,0.0,0.000513,2.122205,251.56496
30772,NaN,61.9403,74.758410,53.840298,58.772297,0.0,0.002194,14.121478,356.36713
34160,NaN,46.0103,86.572150,42.230300,42.044662,0.0,0.000000,8.541709,315.00010

In [99]:
max_copy[max_copy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
21622,NaN,82.7303,19.212175,36.560300,77.598250,0.0,0.030203,15.363810,317.95087
22271,NaN,82.7303,34.436040,51.860302,80.243610,0.0,0.026115,16.342354,340.82090
23462,NaN,58.4303,88.967390,55.190300,59.384747,0.0,0.000513,2.122205,251.56496
30772,NaN,61.9403,74.758410,53.840298,58.772297,0.0,0.002194,14.121478,356.36713
34160,NaN,46.0103,86.572150,42.230300,42.044662,0.0,0.000000,8.541709,315.00010

In [100]:
std_copy[std_copy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
21622,NaN,82.7303,19.212175,36.560300,77.598250,0.0,0.030203,15.363810,317.95087
22271,NaN,82.7303,34.436040,51.860302,80.243610,0.0,0.026115,16.342354,340.82090
23462,NaN,58.4303,88.967390,55.190300,59.384747,0.0,0.000513,2.122205,251.56496
30772,NaN,61.9403,74.758410,53.840298,58.772297,0.0,0.002194,14.121478,356.36713
34160,NaN,46.0103,86.572150,42.230300,42.044662,0.0,0.000000,8.541709,315.00010

In [101]:
standardized_copy[standardized_copy.duplicated(subset=['date'])]

,date,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,et0_fao_evapotranspiration,wind_speed_100m,wind_direction_100m
21622,NaN,82.7303,19.212175,36.560300,77.598250,0.0,0.030203,15.363810,317.95087
22271,NaN,82.7303,34.436040,51.860302,80.243610,0.0,0.026115,16.342354,340.82090
23462,NaN,58.4303,88.967390,55.190300,59.384747,0.0,0.000513,2.122205,251.56496
30772,NaN,61.9403,74.758410,53.840298,58.772297,0.0,0.002194,14.121478,356.36713
34160,NaN,46.0103,86.572150,42.230300,42.044662,0.0,0.000000,8.541709,315.00010

In [102]:
# Step 1: Convert date columns to consistent format
mean_copy['date'] = pd.to_datetime(mean_copy['date'])




# Step 3: Create new columns for date and time components
mean_copy['time'] = mean_copy['date'].dt.time
mean_copy['date'] = mean_copy['date'].dt.date

In [103]:
# Step 1: Convert date columns to consistent format
min_copy['date'] = pd.to_datetime(min_copy['date'])
max_copy['date'] = pd.to_datetime(max_copy['date'])
std_copy['date'] = pd.to_datetime(std_copy['date'])
standardized_copy['date'] = pd.to_datetime(standardized_copy['date'])
mastercopy['date'] = pd.to_datetime(mastercopy['date'])


#


# Step 3: Create new columns for date and time components
min_copy['time'] = min_copy['date'].dt.time
min_copy['date'] = min_copy['date'].dt.date

max_copy['time'] = max_copy['date'].dt.time
max_copy['date'] = max_copy['date'].dt.date

std_copy['time'] = std_copy['date'].dt.time
std_copy['date'] = std_copy['date'].dt.date

standardized_copy['time'] = standardized_copy['date'].dt.time
standardized_copy['date'] = standardized_copy['date'].dt.date

mastercopy['time'] = mastercopy['date'].dt.time
mastercopy['date'] = mastercopy['date'].dt.date

In [104]:
# Moving the time column to the front for ease of visualization
for df in [min_copy, max_copy, std_copy, standardized_copy, mastercopy]:
    col = df.columns.to_list()
    col.remove('time')
    col.insert(1, 'time')
    df = df[col]
    df.head()  # To display the updated DataFrame (optional)

In [105]:
max_copy.shape

(35088, 10)

In [106]:
mean_copy.shape

(35088, 10)

In [107]:
std_copy.shape

(35088, 10)

In [108]:
mastercopy.shape

(35088, 10)

In [109]:
standardized_copy.shape

(35088, 10)

In [110]:
from sklearn.ensemble import IsolationForest  # For One-Class Classification
from sklearn.linear_model import LogisticRegression  # Import LogisticRegression
from sklearn.svm import SVC  # Support Vector Machine
from sklearn.tree import DecisionTreeClassifier  # Decision Tree Classifier
from sklearn.naive_bayes import GaussianNB  # Naïve Bayes Classifier
from sklearn.ensemble import RandomForestClassifier, IsolationForest  # Random Forest and One-Class Classification
from sklearn.neighbors import KNeighborsClassifier  # K Nearest Neighbours Classifier
from sklearn.neural_network import MLPClassifier  # Neural Network Classifier

models = {
    "Logistic Regression": LogisticRegression(max_iter=2000),
    "Support Vector Machine": SVC(probability=True),
    "Decision Tree Classifier": DecisionTreeClassifier(),
    "Naïve Bayes Classifier": GaussianNB(),
    "One-Class Classification": IsolationForest(contamination=0.1),
    "K Nearest Neighbour Classifier": KNeighborsClassifier(),
    "Random Forest Classifier": RandomForestClassifier(),
    "Neural Network Based Classifier": MLPClassifier(max_iter=1000)
}

In [111]:
scoring = ['accuracy', 'precision', 'recall', 'f1', 'roc_auc']

In [112]:
import pandas as pd
import numpy as np
import time
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

# Load the dataset
mean_copy = pd.read_excel(r'C:\Users\HP\OneDrive\Documents\data_science_project\mean_copy_with_nans_replaced.xlsx')
csv_file='output.csv'
mean_copy.to_csv(csv_file,index=False)

# Create a copy of the dataset for processing
data =mean_copy.copy()

# Define the target column (adjust this to your target column)
target_column = 'apparent_temperature'  # Change this to your actual target column name
X = data.drop(columns=[target_column])  # Features (X)
y = data[target_column]  # Target (y)

# Step 1: Handle Date Columns
date_columns = X.select_dtypes(include=['object', 'datetime']).columns  # Find date-like columns

# Convert date columns into numeric features
for col in date_columns:
    # Convert string dates to datetime if not already in datetime format
    X[col] = pd.to_datetime(X[col], errors='coerce')
    
    # Extract features from the date columns like year, month, day, day of the week, etc.
    X[col + '_year'] = X[col].dt.year
    X[col + '_month'] = X[col].dt.month
    X[col + '_day'] = X[col].dt.day
    X[col + '_dayofweek'] = X[col].dt.dayofweek  # Monday=0, Sunday=6
    
    # Drop the original date column
    X = X.drop(columns=[col])

# Step 2: Handle Categorical Columns (Label Encoding)
for col in X.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col].astype(str))
    # Drop rows with NaN values
X_clean = X.dropna()
y_clean = y[X_clean.index]  # Make sure target variable aligns

# Train the model
model = LogisticRegression()
model.fit(X_clean, y_clean)


# Step 3: Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

# Step 4: Define Models
models = {
    "Logistic Regression": LogisticRegression(max_iter=2000),
    "Support Vector Machine": SVC(probability=True),
    "Decision Tree Classifier": DecisionTreeClassifier(),
    "Naïve Bayes Classifier": GaussianNB(),
    "K Nearest Neighbour Classifier": KNeighborsClassifier(),
    "Random Forest Classifier": RandomForestClassifier()
}

# Step 5: Train and Evaluate Models using Cross-Validation
results = []

for name, model in models.items():
    start_time = time.time()  # Start the timer using time.time()
    
    # Perform cross-validation
    scores = cross_validate(model, X_train, y_train, cv=5, scoring='accuracy', return_train_score=False)
    
    end_time = time.time()  # End the timer
    
    # Compute the average of the accuracy across the folds
    accuracy = np.mean(scores['test_score'])
    elapsed_time = end_time - start_time
    
    # Store the results
    results.append({
        'Model': name,
        'Accuracy': accuracy,
        'Time (s)': elapsed_time
    })
    
    print(f"{name} completed in {elapsed_time:.4f} seconds with Accuracy: {accuracy:.4f}")

# Step 6: Convert Results to DataFrame and Display
results_df = pd.DataFrame(results)

# Display the results
print("\nModel Evaluation Results:")
print(results_df)

# Optionally, save the results to a CSV file
output_path = r'C:\Users\HP\OneDrive\Documents\data_science_project\model_results.csv'
results_df.to_csv(output_path, index=False)

print(f"\nThe model evaluation results have been saved to: {output_path}")

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.